<template>
  <div class="container dataTable">
    <div class="row mb-3">
      <div class="col">
        <div class="input-group search rounded">
          <input
              type="search"
              class="form-control rounded search-input"
              placeholder="Recherche"
              aria-label="Recherche"
              aria-describedby="search-addon"
              v-model="searchTerm"
          />
          <span class="input-group-text border-0">
          <i class="bi bi-search"></i>
        </span>
        </div>
      </div>
      <div class="col">
        <div class="btn-group action-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#ModalCreateParcours" @click="initForCreateCourse">
            Ajouter
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <table-lite
          :messages = table.messages
          :is-static-mode="true"
          :is-loading="table.isLoading"
          :columns="table.columns"
          :rows="table.rows"
          :total="table.totalRecordCount"
          :sortable="table.sortable"
          @is-finished="listenerSetter"
          @change="listenerSetter"
      >
      </table-lite>
    </div>
  </div>
  <ModalCreateParcours/>
</template>

<script>
import {defineComponent, reactive, ref, computed} from "vue";
import TableLite from "vue3-table-lite/src/components/TableLite.vue";
import ModalCreateParcours from "@/components/parcours/ModalCreateParcours";
import api_service from "@/Authenticating/api.service";
import store from "@/store";

export default defineComponent({
  name: "DataTableParcours",
  components: {TableLite, ModalCreateParcours},
  mounted() {
    this.init_data();
    this.initPromotions();
  },
  methods: {
    initForCreateCourse(){
      store.dispatch("course/parcoursEdit", null)
    },
    initPromotions() {
      store.dispatch("administration/initPromotions")
    },
    listenerSetter(elements) {
      let vm = this;
      Array.prototype.forEach.call(elements, function (element) {
        if (element.classList.contains("editionUsers")) {
          element.addEventListener("click", async function () {
            await store.dispatch("course/promotion", this.dataset.id)
            await store.dispatch("course/studentsAllowedToSub", this.dataset.id)
            await store.dispatch("course/students", this.dataset.id)
            await store.dispatch('course/parcoursEdit', this.dataset.id)
            await vm.$router.push({name: 'students', params: {id: this.dataset.id}})
          });
        }
        if (element.classList.contains("supression")) {
          element.addEventListener("click", function () {
            vm.destroyParcours(this.dataset.id);
          });
        }
        if (element.classList.contains("editCampagne")) {
          element.addEventListener("click", function () {
            store.dispatch('course/parcoursEdit', this.dataset.id)
            store.dispatch('course/campagnes', this.dataset.id)
            store.dispatch('course/parcoursEdit', this.dataset.id)
            vm.$router.push({name: 'campagnes', params: {id: this.dataset.id}})
          });
        }
        if (element.classList.contains("edit")) {
          element.addEventListener("click", function () {
            store.dispatch('course/parcoursEdit', this.dataset.id)
          });
        }
      });
    },
    destroyParcours(id) {
      api_service.delete("parcours/" + id)
          .then(() => {
            this.init_data()
          }).catch((e) => {
            alert(e.response.data.error)
      })
    },
    resetPassWordUser(userId) {
      api_service.post("user/reset_password/", {userId: userId})
          .then(() => {
            alert('password reset !')
          }).catch((e) => {
        alert(e.response.data.error)
      })
    }
  },
  setup() {
    // Search text
    const searchTerm = ref("");
    // DATA
    const data = reactive({
      data: []
    });


    // Table config
    const table = reactive({
      columns: [
        {
          label: "Nom",
          field: "name",
          width: "20%",
          sortable: true,
        },
        {
          label: "Promotion",
          field: "promotion",
          width: "35%",
          sortable: true,
        },
        {
          label: "Actions",
          field: "quick",
          width: "30%",
          sortable: false,
          display: function (row) {
            return (
                '<button type="button" data-id="' +
                row.id +
                '" class="is-rows-el btn btn-outline-dark edit" style="float: right;" data-bs-toggle="modal" data-bs-target="#ModalCreateParcours">Editer</button>'+

                '<button type="button" data-id="' +
                row.id +
                '" class="is-rows-el btn btn-outline-dark editCampagne" style="float: left;" >Gestion des campagnes</button>' +
                '<button type="button" data-id="' +
                row.id +
                '" class="is-rows-el btn btn-outline-dark editionUsers" style="float: left;">Gestion des étudiants</button>' +
                '<button type="button" data-id="' +
                row.id +
                '" class="is-rows-el btn btn-outline-danger supression" style="float: right;"> Supprimer</button>'
            )
                ;
          },
        },
      ],
      rows: computed(() => {
        return data.data.filter((x) =>
            x.name.toLowerCase().includes(searchTerm.value.toLowerCase()) ||
            x.promotion.toLowerCase().includes(searchTerm.value.toLowerCase())
        );
      }),
      totalRecordCount: computed(() => {
        return table.rows.length;
      }),
      messages: {
        pagingInfo: "Affichage de {0}-{1} sur {2}",
        pageSizeChangeLabel: "Nombre de lignes:",
        gotoPageLabel: "Aller à la page:",
        noDataAvailable: "Pas de données",
      },
      sortable: {
        order: "first_name",
        sort: "asc",
      },
      isLoading: true
    });
    const init_data = () => {
      data.data = []
      api_service.get("parcours").then((response) => {
        let parcours = response.data.data
        parcours.forEach((element) => {
          api_service.get("/parcours/" + element.id + "/promotion").then((response) => {
            element.promotion = response.data.data.name + " " + response.data.data.year
            data.data.push(element);
          })
        });
      });
      table.isLoading = false
    }
    return {
      searchTerm,
      table,
      data,
      init_data
    };
  },
});
</script>

<style scoped lang="scss">
$dark: #247a89;
@import 'bootstrap';
::v-deep(.vtl-table .vtl-thead .vtl-thead-th) {
  color: $white;
  background-color: $dark;
  border-color: $dark;
}

::v-deep(.vtl-table td),
::v-deep(.vtl-table tr) {
  border: none;
}
::v-deep(.is-rows-el) {
  margin: 0.5rem;
}

::v-deep(.vtl-table td a) {
  margin-inline: 2%;
}

::v-deep(.vtl-paging-info) {
  color: $dark;
}

::v-deep(.vtl-paging-count-label),
::v-deep(.vtl-paging-page-label) {
  color: $dark;
}

::v-deep(.vtl-paging-pagination-page-link) {
  border: none;
}

.dataTable {
  padding-top: 5%;
}

.search {
  float: left;
  max-width: 300px;
  width: auto;
}

.action-group {
  float: right;
  width: auto;
}
</style>