<template>
  <div
      class="modal fade"
      id="ModalCreateParcours"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            {{modalTitle}}
          </h5>
          <button
              type="button"
              class="btn-close btn-close-parcours-create"
              data-bs-dismiss="modal"
              aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <fieldset class="container">
            <div class="error" v-if="error">
              <p>Veuillez renseigner les champs manquants</p>
            </div>
            <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="prenom" class="form-label">Nom</label>
                <input
                    v-on:keyup="logOnEnter"
                    id="prenom"
                    v-model="parcours.name"
                    class="form-control current-prenom"
                    placeholder="Parcours"
                />
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="promotion1" class="form-label">Promotion</label>
                <select
                    id="promotion1"
                    v-model="parcours.sousPromotion"
                    class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                >
                  <option v-for="promotion in promotions" v-bind:key="promotion.id" :value="promotion.id">
                    {{ promotion.name + " " + promotion.year }}
                  </option>
                </select>
              </div>
            </div>
            <div class="alert" v-if="caps_lock_on">
              <p>Attention le verrouillage des majuscules est activé</p>
            </div>
            <div class="modal-footer">
              <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
              >
                Annuler
              </button>
              <button
                  type="button"
                  class="btn btn-primary"
                  @click.prevent="valider"
              >
                Valider
              </button>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apiService from "@/Authenticating/api.service";
import {mapGetters, mapState} from "vuex";
import store from "@/store"

export default {
  name: "ModalCreateParcours",
  data() {
    return {
      caps_lock_on: "",
      error: "",
      modalTitle : null,
    };
  },
  watch:{
    actionForForm(newA, oldA)
    {
      if(newA !== null)
      {
        this.modalTitle = newA ? "Ajout d'un parcours" : "Editer un parcours"
      }
    }
  },
  computed: {
    ...mapGetters({
      promotions: "administration/getPromotions",
      parcours: "course/parcoursEdit",
      actionForForm: "course/actionForForm"
    })
  },
  methods: {
    logOnEnter(e) {
      this.caps_lock_on = e.getModifierState("CapsLock");
      if (e.keyCode === 13) {
        this.valider();
      }
    },
    initDataTable() {
      this.$parent.init_data();
    },
    valider() {
      let vm = this
      let promotion = this.promotions.find(p => p.id === this.parcours.sousPromotion)
      if (this.actionForForm) {
        apiService
            .post("parcours", {
              name: vm.parcours.name
            })
            .then((response) => {
              apiService.update("parcours/" + response.data.data.id + "/promotion/add/" + promotion.id).then(() => {
                vm.error = false
                vm.initDataTable()
                document.getElementsByClassName('btn-close-parcours-create')[0].click();
              }).catch((e) => {
                vm.error = true;
              })
            })
            .catch((e) => {
              vm.error = true;
            });
      } else {
        apiService
            .update("parcours/"+this.parcours.id, {
              name: vm.parcours.name
            })
            .then((response) => {
              apiService.update("parcours/" + this.parcours.id + "/promotion/add/" + this.parcours.sousPromotion).then(() => {
                vm.error = false
                vm.initDataTable()
                document.getElementsByClassName('btn-close-parcours-create')[0].click();
              }).catch((e) => {
                vm.error = true;
              })
            })
            .catch((e) => {
              vm.error = true;
            });
      }
    }

  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "bootstrap";

.modal {
  color: $white;
}
</style>
