<template>
  <div class="container dataTable">
    <div class="btn-group action-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
              data-bs-target="#ModalCreateTeachingUnit"
              @click="initForCreateUe">Ajouter
      </button>
    </div>
    <div class="input-group search rounded">
      <input
          type="search"
          class="form-control rounded search-input"
          placeholder="Recherche"
          aria-label="Recherche"
          aria-describedby="search-addon"
          v-model="searchTerm"
      />
      <span class="input-group-text border-0">
          <i class="bi bi-search"></i>
        </span>
    </div>
    <div>
      <table-lite
          :messages = table.messages
          :is-static-mode="true"
          :is-loading="table.isLoading"
          :columns="table.columns"
          :rows="table.rows"
          :total="table.totalRecordCount"
          :sortable="table.sortable"
          @is-finished="listenerSetter"
          @change="listenerSetter"
      >
      </table-lite>
    </div>
  </div>
  <ModalCreateTeachingUnit/>
  <ModalUeBlocks/>
</template>

<script>
import {defineComponent, reactive, ref, computed} from "vue";
import TableLite from "vue3-table-lite/src/components/TableLite.vue";
import ModalUeBlocks from "@/components/ues/ModalUeBlocks";
import api_service from "@/Authenticating/api.service";
import ModalCreateTeachingUnit from "@/components/ues/ModalCreateTeachingUnit";
import store from "@/store";


export default defineComponent({
  name: "dataTableTeachingUnit",
  components: {TableLite, ModalCreateTeachingUnit, ModalUeBlocks},
  data() {
    return {};
  },
  mounted() {
    this.init_data();
  },
  methods: {
    initForCreateUe() {
      store.dispatch("block/initAllBlocks")
      store.dispatch("teachingUnit/initUnitToEdit", null)
      store.dispatch("teachingUnit/initActionForForm", true)
    },
    resetUserList() {
      this.data = reactive([])
      this.table.isLoading = true
    },
    listenerSetter(elements) {
      let vm = this;
      Array.prototype.forEach.call(elements, function (element) {
        if (element.classList.contains("student")) {
          element.addEventListener("click", async function () {
            await store.dispatch("teachingUnit/initialStudentsOfChosenUnit", this.dataset.id)
            await store.dispatch("teachingUnit/finalStudentsOfChosenUnit", this.dataset.id)
            await store.dispatch("teachingUnit/students", this.dataset.id)
            await vm.$router.push({name: 'teachingUnitsStudents', params: {idTU: this.dataset.id}})
          });
        }
        if (element.classList.contains("groupes")) {
          element.addEventListener("click", async function () {
            await store.dispatch("teachingUnit/initUnitToEdit", this.dataset.id)
            await store.dispatch("teachingUnit/students", this.dataset.id)
            await store.dispatch("teachingUnit/groups", this.dataset.id)
            //Afficher l'ue concerné
            //afficher les groupes de l'ue
            //afficher les étudiants dans les groupes
            await vm.$router.push({name: 'teachingUnitGroups', params: {idTU: this.dataset.id}})
          });
        }
        if (element.classList.contains("list-block")) {
          element.addEventListener("click", function () {
            store.dispatch("block/initBlocksOfUe", this.dataset.id);
            store.dispatch("block/initAllBlocks");
            store.dispatch("teachingUnit/initChosenUe", this.dataset.id);
          });
        }
        if (element.classList.contains("supression")) {
          element.addEventListener("click", function () {
            vm.destroy(this.dataset.id);
          });
        }
        if (element.classList.contains("edit")) {
          element.addEventListener("click", async function () {
            await store.dispatch("teachingUnit/initUnitToEdit", this.dataset.id)
            await store.dispatch("block/initAllBlocks")
            await store.dispatch("teachingUnit/initActionForForm", false)
          });
        }
      });
    },
    destroy(id) {
      api_service.delete("ues/" + id)
          .then(() => {
            this.init_data()
          }).catch((e) => {
        alert(e.response.data.error)
      })
    },
  },
  setup() {
    // Search text
    const searchTerm = ref("");
    // DATA
    const data = reactive({
      data: []
    });

    // Table config
    const table = reactive({
      columns: [
        {
          label: "Nom",
          field: "full_name",
          width: "20%",
          sortable: true,
        },
        {
          label: "Intitulé",
          field: "blockName",
          width: "10%",
          sortable: true,
        },
        {
          label: "Capacité",
          field: "capacity",
          width: "5%",
          sortable: true,
        },
        {
          label: "Actions",
          field: "quick",
          width: "15%",
          sortable: false,
          display: function (row) {
            return (
                '<button type="button" data-id="' +
                row.id +
                '" class="is-rows-el btn btn-outline-dark edit" data-bs-toggle="modal" data-bs-target="#ModalCreateTeachingUnit" style="float: right;">Editer</button>' +
                '<button type="button" data-id="' +
                row.id +
                '"' +
                ' class="is-rows-el btn btn-outline-dark student" style="float: left;" >Gestion des étudiants</button>' +
                '<button type="button" data-id="' +
                row.id +
                '"' +
                ' class="is-rows-el btn btn-outline-dark groupes" style="float: left;">Gestion des groupes</button>' +
                '<button type="button" data-id="' +
                row.id +
                '" class="is-rows-el btn btn-outline-dark list-block" data-bs-toggle="modal" data-bs-target="#ModalUeBlocks" style="float: left;">Gestion des blocs</button>' +
                '<button type="button" data-id="' +
                row.id +
                '" class="is-rows-el btn btn-outline-danger supression" style="float: right;"> Supprimer</button>'
            );
          },
        },
      ],
      rows: computed(() => {
        return data.data.filter((x) =>
            x.full_name.toLowerCase().includes(searchTerm.value.toLowerCase()) ||
            x.blocksNames?.toLowerCase().includes(searchTerm.value.toLowerCase()) ||
            x.name.toLowerCase().includes(searchTerm.value.toLowerCase()));
      }),
      totalRecordCount: computed(() => {
        return table.rows.length;
      }),
      messages: {
        pagingInfo: "Affichage de {0}-{1} sur {2}",
        pageSizeChangeLabel: "Nombre de lignes:",
        gotoPageLabel: "Aller à la page:",
        noDataAvailable: "Pas de données",
      },
      sortable: {
        order: "first_name",
        sort: "asc",
      },
      isLoading: true
    });
    const init_data = () => {
      data.data = []
      api_service.get("ues").then((response) => {
        response.data.data.forEach((ue) => {
          ue.blockName = ue.name + "_" + ue.number
          data.data.push(ue);
        });
      });
      table.isLoading = false
    }
    return {
      searchTerm,
      table,
      data,
      init_data
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$dark: #247a89;
@import 'bootstrap';
::v-deep(.vtl-table .vtl-thead .vtl-thead-th) {
  color: $white;
  background-color: $dark;
  border-color: $dark;
}

::v-deep(.vtl-table td),
::v-deep(.vtl-table tr) {
  border: none;
}

::v-deep(.is-rows-el) {
  margin: 0.5rem;
}

::v-deep(.vtl-table td a) {
  margin-inline: 2%;
}

::v-deep(.vtl-paging-info) {
  color: $dark;
}

::v-deep(.vtl-paging-count-label),
::v-deep(.vtl-paging-page-label) {
  color: $dark;
}

::v-deep(.vtl-paging-pagination-page-link) {
  border: none;
}

.dataTable {
  padding-top: 5%;
}

.search {
  float: left;
  max-width: 300px;
  width: auto;
}

.action-group {
  float: right;
  width: auto;
}
</style>
