<template>
  <div
      class="modal fade"
      id="ModalCreateTeachingUnit"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            {{modalTitle}}
          </h5>
          <button
              type="button"
              class="btn-close btn-close-parcours-create"
              data-bs-dismiss="modal"
              aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <fieldset class="container">
            <div class="error" v-if="error">
              <p>Veuillez renseigner les champs manquants</p>
            </div>
            <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="full_name" class="form-label">Nom</label>
                <input
                    id="full_name"
                    placeholder="Workflows"
                    v-model="teachingUnit.full_name"
                    class="form-control"
                />
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="name" class="form-label">Intitulé du bloc</label>
                <input
                    id="name"
                    placeholder="ISI"
                    v-model="teachingUnit.name"
                    class="form-control"
                />
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="number" class="form-label">Numéro de l'UE</label>
                <input
                    id="number"
                    type="number"
                    placeholder="19"
                    v-model="teachingUnit.number"
                    class="form-control"
                />
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="capacity" class="form-label">Capacité</label>
                <input
                    id="capacity"
                    type="number"
                    v-model="teachingUnit.capacity"
                    class="form-control"
                />
              </div>
            </div>
            <div v-show="modalTitle!=='Ajout d\'une UE'">
              <p>Liste des parcours associés :</p>
              <ul v-for="course in courses" >
                <li>{{course.name + " " + course.promotion.name + " " + course.promotion.year }}</li>
              </ul>
            </div>

            <div class="alert" v-if="caps_lock_on">
              <p>Attention le verrouillage des majuscules est activé</p>
            </div>
            <div class="modal-footer">
              <button
                  type="button"
                  class="btn btn-secondary btn-close-user-edit"
                  data-bs-dismiss="modal"
              >
                Annuler
              </button>
              <button
                  type="button"
                  class="btn btn-primary"
                  @click.prevent="valider"
              >
                Valider
              </button>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apiService from "@/Authenticating/api.service";
import {mapGetters} from "vuex";
import store from "@/store"

export default {
  name: "ModalCreateTeachingUnit",
  data() {
    return {
      caps_lock_on: "",
      error: "",
      modalTitle : null,
    };
  },
  watch : {
    createTeachingUnit(newT, oldT){
      if(newT!== null)
      {
        this.modalTitle = newT ? "Ajout d'une UE" : "Editer une UE"
      }
    }
  },
  computed: mapGetters({
    teachingUnit : "teachingUnit/getUnitToEdit",
    createTeachingUnit : "teachingUnit/getCreateTeachingUnit",
    courses : "teachingUnit/courses"
  }),
  methods: {
    logOnEnter(e) {
      this.caps_lock_on = e.getModifierState("CapsLock");
      if (e.keyCode === 13) {
        this.valider();
      }
    },
    initDataTable() {
      this.$parent.init_data();
    },
    valider() {
      if(this.createTeachingUnit)
      {
        let vm = this
        apiService
            .post("ues", {
              name: vm.teachingUnit.name,
              number : vm.teachingUnit.number,
              full_name : vm.teachingUnit.full_name,
              capacity: vm.teachingUnit.capacity
            })
            .then((response) => {
              store.dispatch("teachingUnit/initUes")
              vm.$parent.init_data();
              vm.error = false
              document.getElementsByClassName('btn-close-user-edit')[0].click();
            })
            .catch((e) => {
              vm.error = true;
            });
      }else {
        let vm = this
        apiService
            .update("ues/"+vm.teachingUnit.id,{
              name: vm.teachingUnit.name,
              number : vm.teachingUnit.number,
              full_name : vm.teachingUnit.full_name,
              capacity: vm.teachingUnit.capacity
            })
            .then((response) => {
              store.dispatch("teachingUnit/initUes")
              vm.$parent.init_data();
              vm.error = false
              document.getElementsByClassName('btn-close-user-edit')[0].click();
            })
            .catch((e) => {
              vm.error = true;
            });
      }
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$dark: #247a89;
@import "bootstrap";

.modal {
  color: $white;
}

.form-check-input:checked {
  background-color: $dark;
  border-color: white;
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%2836, 122, 137, 0.25%29'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%2836, 122, 137, 0.75%29'/%3e%3c/svg%3e");
}
</style>