<template>
  <div
      class="modal fade"
      id="modalGenerateGroup"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Génération des groupes
          </h5>
          <button
              type="button"
              class="btn-close btn-close-groupe-create"
              data-bs-dismiss="modal"
              aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <fieldset class="container">
            <div class="error" v-if="error">
              <p>Veuillez renseigner les champs manquants</p>
            </div>
            <div class="row g-3 align-items-center">
              <div class="mb-3">

                <p class="form-label"> Nombre d'élèves sélectionnés : {{ chosenStudents.length }}</p>
                <label for="number" class="form-label">Nombre de groupe à créer</label>
                <input
                    id="number"
                    type="number"
                    v-model="numberOfGroups"
                    class="form-control"
                />
              </div>
            </div>

          </fieldset>
          <br>
          <fieldset class="container table-responsive">
            <table class="table table-dark">
              <thead>
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Capacité</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="groupe in groupeList" :value="groupe">
                <th scope="row">
                  <input
                      type="text"
                      v-model="groupe.name"
                      class="form-control"
                  />
                </th>
                <td>
                  <input
                      type="number"
                      v-model="groupe.capacity"
                      class="form-control"
                  />
                </td>
              </tr>
              </tbody>
            </table>
            <div class="alert" v-if="caps_lock_on">
              <p>Attention le verrouillage des majuscules est activé</p>
            </div>
            <div class="modal-footer">
              <button
                  type="button"
                  class="btn btn-light"
                  @click.prevent="valider"
              >
                Ajouter
              </button>
              <button
                  type="button"
                  class="btn btn-light"
                  data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apiService from "@/Authenticating/api.service";
import {mapState, mapGetters} from "vuex";
import store from "@/store"

export default {
  name: "modalGenerateGroup",
  data() {
    return {
      caps_lock_on: "",
      numberOfGroups: 0,
      groupeList: [],
      error: false,
    };
  },
  watch: {
    numberOfGroups(newValue, oldValue) {
      if (newValue < 0) {
        this.numberOfGroups = 1
      }
      if (newValue > 0 && newValue !== null) {
        this.groupeList = []
        for (let i = 0; i < newValue; i++) {
          this.groupeList.push({name: null, capacity: null})
        }
      }
    }
  },
  computed:
      {
        ...mapState({
          BLocksOfUes: state => state.block.blocksOfUe,
          blocks: state => state.block.blocks,
          idUe: state => state.teachingUnit.chosenUe
        }),
        ...mapGetters({
          chosenStudents: 'groupGenerator/getStudents',
          chosenIeId: "groupGenerator/getChosenIeId"
        })
      },

  methods: {
    valider() {
      let vm = this
      this.error = false
      this.groupeList.forEach(groupe => {
        if (groupe.name === null || groupe.capacity === null) {
          vm.error = true
        }
      })
      if (!this.error) {
        const studentsChunkSize = this.chosenStudents.length / this.groupeList.length;
        const chunkedArray = []
        for (let i = 0; i < this.chosenStudents.length; i += studentsChunkSize) {
          chunkedArray.push(this.chosenStudents.slice(i, i + studentsChunkSize));
        }

        this.groupeList.forEach((groupe, index) => {
          //Création de groupe
          apiService.post("groupes", {
            name: groupe.name,
            capacity: groupe.capacity
          }).then(response => {
            let groupe = response.data.data
            //Atacher les groupe à l'id ue
            apiService.update("groupes/" + groupe.id + "/ues/add/" + vm.chosenIeId)
                .then(response => {
                  //retourne un objet groupe avec l'ue
                  //liste des students
                  apiService.update('groupes/' + groupe.id + '/users/add', {
                    users_id: chunkedArray[index].map(s => s.id)
                  }).then(response => {
                    //retourne les users ajouté
                    store.dispatch("teachingUnit/initUnitToEdit", vm.chosenIeId)
                    store.dispatch("teachingUnit/students", vm.chosenIeId)
                    store.dispatch("teachingUnit/groups", vm.chosenIeId)
                    document.getElementsByClassName('btn-close-groupe-create')[0].click();
                    vm.$router.push({name: 'teachingUnitGroups', params: {idTU: vm.chosenIeId}})
                  })
                }).catch(e => {
              apiService.delete("groupes/" + groupe.id)
              vm.error = true
            })
          }).catch(e => {
            vm.error = true
          })
        })
      }
    }
  },

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

$dark: #247a89;
@import "bootstrap";

.modal {
  color: $white;
}

$table-color: $dark;


</style>
