<template>
  <div
      class="modal fade"
      id="ModalUeBlocks"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Liste des blocs
          </h5>
          <button
              type="button"
              class="btn-close btn-close-user-create"
              data-bs-dismiss="modal"
              aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <fieldset class="container">
            <div class="error" v-if="error">
              <p>Veuillez renseigner les champs manquants</p>
            </div>
            <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="promotion1" class="form-label">Ajouter un bloc</label>
                <select
                    id="promotion1"
                    v-model="ChosenblockId"
                    class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                >
                  <option v-for="block in blocksSelectable" v-bind:key="block.id" :value="block.id">
                    {{ block.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" :id="optional"
                       v-model=is_optional>
                <label class="form-check-label" :for="optional">est optionnel</label>
              </div>
            </div>
            <button
                type="button"
                class="btn btn-light"
                @click.prevent="valider"
            >
              Ajouter
            </button>
          </fieldset>
          <br>
          <fieldset class="container table-responsive">
            <table class="table table-dark">
              <thead>
              <tr>
                <th scope="col">Nom</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="block in BLocksOfUes" :key="block.id">
                <th scope="row">{{ block.name }}</th>
                <td>
                  <button type="button" @click="unlinkUe(block.id)" class="is-rows-el btn btn-light">
                    Dissocier
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="alert" v-if="caps_lock_on">
              <p>Attention le verrouillage des majuscules est activé</p>
            </div>
            <div class="modal-footer">
              <button
                  type="button"
                  class="btn btn-light"
                  data-bs-dismiss="modal"
              >
                Annuler
              </button>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apiService from "@/Authenticating/api.service";
import {mapState, mapGetters} from "vuex";
import store from "@/store"

export default {
  name: "ModalUeBlocks",
  data() {
    return {
      id: "",
      caps_lock_on: "",
      error: "",
      ChosenblockId: null,
      is_optional: false,
    };
  },
  computed: 
  {
  ...mapState({
      BLocksOfUes: state => state.block.blocksOfUe,
      blocks: state => state.block.blocks,
      idUe: state => state.teachingUnit.chosenUe
    }),
  ...mapGetters({
      blocksSelectable : 'block/getBlocksSelectable'
  })
  },
  
  methods: {
    logOnEnter(e) {
      this.caps_lock_on = e.getModifierState("CapsLock");
      if (e.keyCode === 13) {
        this.valider();
      }
    },
    initDataTable() {
      this.$parent.init_data();
    },
    unlinkUe(blockId) {
      apiService.update("blocs/" + blockId + "/ues/remove/" + this.idUe).then((response) => {
        store.dispatch("block/initBlocksOfUe", this.idUe)
      });
    },
    valider() {
      let vm = this
      apiService.update("blocs/" + this.ChosenblockId + "/ues/add/" + this.idUe, {
        is_optional: vm.is_optional,
      }).then((response) => {
        vm.error = false
        store.dispatch("block/initBlocksOfUe", this.idUe)
      }).catch(e => {
        alert("Cette UE existe déjà dans ce bloc")
      })

    }
  },

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

$dark: #247a89;
@import "bootstrap";

.modal {
  color: $white;
}

$table-color: $dark;


</style>
