<template>
  <div class="container dataTable">
    <div class="btn-group action-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#ModalCreateBlock"
              @click="initForCreateBlock">Ajouter
      </button>
    </div>

    <div class="input-group search rounded">
      <input
          type="search"
          class="form-control rounded search-input"
          placeholder="Recherche"
          aria-label="Recherche"
          aria-describedby="search-addon"
          v-model="searchTerm"
      />
      <span class="input-group-text border-0">
          <i class="bi bi-search"></i>
        </span>
    </div>
    <div>
      <table-lite
          :messages= table.messages
          :is-static-mode="true"
          :is-loading="table.isLoading"
          :columns="table.columns"
          :rows="table.rows"
          :total="table.totalRecordCount"
          :sortable="table.sortable"
          @is-finished="listenerSetter"
          @change="listenerSetter"
      >
        >
      </table-lite>
    </div>
  </div>
  <ModalCreateBlock/>
  <ModalBlockUes/>
</template>

<script>
import {defineComponent, reactive, ref, computed} from "vue";
import TableLite from "vue3-table-lite/src/components/TableLite.vue";
import ModalCreateBlock from "@/components/bloc/ModalCreateBlock";
import ModalBlockUes from "@/components/bloc/ModalBlockUes";
import api_service from "@/Authenticating/api.service";
import store from "@/store";

export default defineComponent({
  name: "DataTable",
  components: {TableLite, ModalCreateBlock, ModalBlockUes},
  data() {
    return {};
  },
  mounted() {
    this.init_data();
    this.initCourses();
  },
  methods: {
    initForCreateBlock() {
      store.dispatch("block/blockToEdit", null)
      store.dispatch("block/ActionForForm", true)
    },
    idForModal(id) {
      store.dispatch("teachingUnit/initUesOfBLock", id);
      store.dispatch("teachingUnit/initUes");
      store.dispatch("block/chosenBlock", id);
    },
    initCourses() {
      store.dispatch("course/initCourses")
    },
    resetUserList() {
      this.data = reactive([])
      this.table.isLoading = true
    },
    listenerSetter(elements) {
      let vm = this;
      Array.prototype.forEach.call(elements, function (element) {
        if (element.classList.contains("listUe")) {
          element.addEventListener("click", function () {
            vm.idForModal(this.dataset.id);
          });
        }
        if (element.classList.contains("supression")) {
          element.addEventListener("click", function () {
            vm.destroyUser(this.dataset.id);
          });
        }
        if (element.classList.contains("listStudent")) {
          element.addEventListener("click", function () {
            vm.resetPassWordUser(this.dataset.id);
          });
        }
        if (element.classList.contains("edit")) {
          element.addEventListener("click", async function () {
            await store.dispatch("block/blockToEdit", this.dataset.id)
            await store.dispatch("block/ActionForForm", false)
          });
        }
      });
    },
    destroyUser(id) {
      api_service.delete("blocs/" + id)
          .then(() => {
            this.init_data()
          }).catch((e) => {
            alert(e.response.data.error)
        alert(e.response.data.error)
      })
    }
  },
  setup() {
    // Search text
    const searchTerm = ref("");
    // DATA
    const data = reactive({
      data: []
    });

    // Table config
    const table = reactive({
      columns: [
        {
          label: "Nom",
          field: "name",
          width: "10%",
          sortable: true,
        },
        {
          label: "Parcours",
          field: "course",
          width: "15%",
          sortable: true,
        },
        {
          label: "Nombre d'ue en options",
          field: "nb_ues_choix",
          width: "15%",
        },
        {
          label: "Actions",
          field: "quick",
          width: "30%",
          sortable: false,
          display: function (row) {
            return (
                '<button type="button" data-id="' +
                row.id +
                '" class="is-rows-el btn btn-outline-danger supression" style="float: right;"> Supprimer</button>' +
                '<button type="button" data-id="' +
                row.id +
                '" class="is-rows-el btn btn-outline-dark edit" data-bs-toggle="modal" data-bs-target="#ModalCreateBlock" style="float: right;">Editer</button>' +
                '<button type="button" data-id="' +
                row.id +
                '" class="is-rows-el btn btn-outline-dark listUe" data-bs-toggle="modal" ' +
                ' data-bs-target="#ModalBlockUes" style="float: left;">Gestion des UEs</button>'
            );
          },
        },
      ],
      rows: computed(() => {
        return data.data.filter((x) =>
            x.course.toLowerCase().includes(searchTerm.value.toLowerCase()) ||
            x.name.toLowerCase().includes(searchTerm.value.toLowerCase()));
      }),
      totalRecordCount: computed(() => {
        return table.rows.length;
      }),
      messages: {
        pagingInfo: "Affichage de {0}-{1} sur {2}",
        pageSizeChangeLabel: "Nombre de lignes:",
        gotoPageLabel: "Aller à la page:",
        noDataAvailable: "Pas de données",
      },
      sortable: {
        order: "first_name",
        sort: "asc",
      },
      isLoading: true
    });
    const init_data = () => {
      data.data = []
      api_service.get("blocs").then((response) => {
        let blocks = response.data.data
        blocks.forEach((block) => {
          block.course = block.parcours.name + " " + block.parcours.promotion.name + " " + block.parcours.promotion.year
          data.data.push(block);
        })
      })
      table.isLoading = false
    }
    return {
      searchTerm,
      table,
      data,
      init_data
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$dark: #247a89;
@import 'bootstrap';
::v-deep(.vtl-table .vtl-thead .vtl-thead-th) {
  color: $white;
  background-color: $dark;
  border-color: $dark;
}

::v-deep(.vtl-table td),
::v-deep(.vtl-table tr) {
  border: none;
}

::v-deep(.is-rows-el) {
  margin: 0.5rem;
}

::v-deep(.vtl-table td a) {
  margin-inline: 2%;
}

::v-deep(.vtl-paging-info) {
  color: $dark;
}

::v-deep(.vtl-paging-count-label),
::v-deep(.vtl-paging-page-label) {
  color: $dark;
}

::v-deep(.vtl-paging-pagination-page-link) {
  border: none;
}

.dataTable {
  padding-top: 5%;
}

.search {
  float: left;
  max-width: 300px;
  width: auto;
}

.action-group {
  float: right;
  width: auto;
}


</style>
