<template>
  <div
      class="modal fade"
      id="ModalCreateBlock"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            {{modalTitle}}
          </h5>
          <button
              type="button"
              class="btn-close btn-close-user-create"
              data-bs-dismiss="modal"
              aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <fieldset class="container">
            <div class="error" v-if="error">
              <p>Veuillez renseigner les champs manquants</p>
            </div>
            <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="name" class="form-label">Nom</label>
                <input
                    v-on:keyup="logOnEnter"
                    id="name"
                    v-model="block.name"
                    class="form-control"
                    placeholder="INFO"
                />
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="nb_optional_ue" class="form-label">Nombre d'ue optionnel</label>
                <input
                    v-on:keyup="logOnEnter"
                    id="nb_optional_ue"
                    type="number"
                    v-model="block.nb_ues_choix"
                    class="form-control"
                />
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="promotion1" class="form-label">Parcours / Sous promotion</label>
                <select
                    id="promotion1"
                    v-model="block.course"
                    class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                >
                  <option v-for="course in courses" v-bind:key="course.id" :value="course.id">
                    {{ course.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="alert" v-if="caps_lock_on">
              <p>Attention le verrouillage des majuscules est activé</p>
            </div>
            <div class="modal-footer">
              <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
              >
                Annuler
              </button>
              <button
                  type="button"
                  class="btn btn-primary"
                  @click.prevent="valider"
              >
                Valider
              </button>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apiService from "@/Authenticating/api.service";
import {mapState} from "vuex";
import store from "@/store"
import block from "@/store/modules/block";
import course from "@/store/modules/parcours";

export default {
  name: "ModalCreateBlock",
  data() {
    return {
      caps_lock_on: "",
      error: "",
      modalTitle: null
    };
  },
  watch:{
    block(newBloc,oldBloc)
    {
      if(newBloc.course!=null){
          this.block.course = newBloc.course.id
      }
    },
    createBlock(newB,oldB){
      if(newB !== null)
      {
        this.modalTitle = newB ? "Ajout d'un bloc" : "Editer un bloc"
      }
    }
  },
  computed: mapState({
    courses : state => state.course.courses,
    block : state => state.block.blockToEdit,
    createBlock : state => state.block.ActionForForm
  }),
  methods: {
    logOnEnter(e) {
      this.caps_lock_on = e.getModifierState("CapsLock");
      if (e.keyCode === 13) {
        this.valider();
      }
    },
    initDataTable() {
      this.$parent.init_data();
    },
    valider() {
      let vm = this
      if(vm.createBlock)
      {
        apiService
            .post("blocs", {
              name : vm.block.name,
              nb_ues_choix : vm.block.nb_ues_choix,
            })
            .then((response) => {
              apiService.update("parcours/"+vm.block.course+"/blocs/add/"+response.data.data.id)
                  .then((response) => {
                    vm.error = false
                    vm.initDataTable()
                    document.getElementsByClassName('btn-close-user-create')[0].click();
                  })
            })
            .catch((e) => {
              vm.error = true;
            });
      }else {
        apiService
            .update("blocs/"+vm.block.id, {
              name : vm.block.name,
              nb_ues_choix : vm.block.nb_ues_choix,
            })
            .then((response) => {
              apiService.update("parcours/"+vm.block.course+"/blocs/add/"+response.data.data.id)
                  .then((response) => {
                    vm.error = false
                    vm.initDataTable()
                    document.getElementsByClassName('btn-close-user-create')[0].click();
                  })
            })
            .catch((e) => {
              vm.error = true;
            });
      }

    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "bootstrap";

.modal {
  color: $white;
}
</style>
