<template>
  <div
      class="modal fade"
      id="ModalBlockUes"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Liste des UEs
          </h5>
          <button
              type="button"
              class="btn-close btn-close-user-create"
              data-bs-dismiss="modal"
              aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <fieldset class="container">
            <div class="error" v-if="error">
              <p>Veuillez renseigner les champs manquants</p>
            </div>
            <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="promotion1" class="form-label">Ajouter une UE</label>
                <select
                    id="promotion1"
                    v-model="ChosenUeId"
                    class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                >
                  <option v-for="ue in uesSelectable" v-bind:key="ue.id" :value="ue.id">
                    {{ ue.full_name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" :id="optional"
                       v-model=is_optional>
                <label class="form-check-label" :for="optional">est optionnel</label>
              </div>
            </div>
            <button
                type="button"
                class="btn btn-light"
                @click.prevent="valider"
            >
              Ajouter
            </button>
          </fieldset>
          <br>
          <fieldset class="container table-responsive">
            <table class="table table-dark">
              <thead>
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Optionnel</th>
                <th scope="col">Ouvert</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="ue in uesOfBLock" :key="ue.id">
                <th scope="row">{{ ue.full_name }}</th>
                <td> {{ ue.is_optional === "true" ? "Oui" : "Non" }}</td>
                <td> {{ ue.is_open === "true" ? "Oui" : "Non" }}</td>
                <td>
                  <button type="button" @click="unlinkUe(idBlock,ue.id)" class="is-rows-el btn btn-light">
                    Dissocier
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="alert" v-if="caps_lock_on">
              <p>Attention le verrouillage des majuscules est activé</p>
            </div>
            <div class="modal-footer">
              <button
                  type="button"
                  class="btn btn-light"
                  data-bs-dismiss="modal"
              >
                Annuler
              </button>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apiService from "@/Authenticating/api.service";
import {mapGetters, mapState} from "vuex";
import store from "@/store"

export default {
  name: "ModalCreateUser",
  data() {
    return {
      id: "",
      caps_lock_on: "",
      error: "",
      ChosenUeId: null,
      is_optional: false,
    };
  },
  computed: {
  ...mapState({
    uesOfBLock : state => state.teachingUnit.uesOfBlock,
    ues : state => state.teachingUnit.ues,
    idBlock: state => state.block.chosenBlock
  }),
  ...mapGetters({
    uesSelectable : 'teachingUnit/getUesSelectable'
  })
  }
 ,
  methods: {
    logOnEnter(e) {
      this.caps_lock_on = e.getModifierState("CapsLock");
      if (e.keyCode === 13) {
        this.valider();
      }
    },
    initDataTable() {
      this.$parent.init_data();
    },
    unlinkUe(idBlock, idUe) {
      apiService.update("blocs/" + idBlock + "/ues/remove/" + idUe).then((response) => {
        store.dispatch("teachingUnit/initUesOfBLock", idBlock)
      });
    },
    valider() {
      let vm = this
      apiService.update("blocs/" + this.idBlock + "/ues/add/" + this.ChosenUeId, {
        is_optional: vm.is_optional,
      }).then((response) => {
        vm.error = false
        document.getElementsByClassName('btn-close-user-create')[0].click();
        store.dispatch("teachingUnit/initUesOfBLock", this.idBlock)
      }).catch(e => {
        alert("Cette UE existe déjà dans ce bloc")
      })

    }
  },

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

$dark: #247a89;
@import "bootstrap";

.modal {
  color: $white;
}

$table-color: $dark;


</style>
