<template>
  <div class="container dataTable">
    <div class="row  mb-3">
      <div class="col">
        <div class="input-group search rounded">
          <input
              type="search"
              class="form-control rounded search-input"
              placeholder="Recherche"
              aria-label="Recherche"
              aria-describedby="search-addon"
              v-model="searchTerm"
          />
          <span class="input-group-text border-0">
          <i class="bi bi-search"></i>
        </span>
        </div>
      </div>
      <div class="col">
        <div class="btn-group action-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-dark" @click="resetStudentsData">Réinitialiser les données étudiants</button>
          <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#ModalUserCreate"
                  @click="clearUserData">Ajouter
          </button>
          <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#ModalUserImport">
            Importer
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <table-lite
          :messages = table.messages
          :is-static-mode="true"
          :is-loading="table.isLoading"
          :columns="table.columns"
          :rows="table.rows"
          :total="table.totalRecordCount"
          :sortable="table.sortable"
          @is-finished="listenerSetter"
          @change="listenerSetter"
      >
        >
      </table-lite>
    </div>
  </div>
  <ModalUserEdit/>
  <ModalUserCreate/>
  <ModalUserImport/>
</template>

<script>
import {defineComponent, reactive, ref, computed} from "vue";
import TableLite from "vue3-table-lite/src/components/TableLite.vue";
import ModalUserEdit from "@/components/user/ModalUserEdit.vue";
import ModalUserCreate from "@/components/user/ModalCreateUser.vue"
import api_service from "@/Authenticating/api.service";
import ModalUserImport from "@/components/user/ModalUserImport.vue"
import store from "@/store";


export default defineComponent({
  name: "DataTable",
  components: {TableLite, ModalUserEdit, ModalUserCreate, ModalUserImport},
  data() {
    return {};
  },
  computed() {

  },
  mounted() {
    this.init_data();
    this.initPromotions();
  },
  methods: {
    idForModal(id) {
      store.commit(
          "setUserToEdit",
          this.table.rows.find(d => d.id === id)
      );
    },
    initPromotions() {
      store.dispatch("administration/initPromotions")
    },
    clearUserData() {
      store.commit("setUserToEdit", "")
    },
    resetUserList() {
      this.data = reactive([])
      this.table.isLoading = true
    },
    listenerSetter(elements) {
      let vm = this;
      Array.prototype.forEach.call(elements, function (element) {
        if (element.classList.contains("edition")) {
          element.addEventListener("click", function () {
            vm.idForModal(this.dataset.id);
          });
        }
        if (element.classList.contains("supression")) {
          element.addEventListener("click", function () {
            vm.destroyUser(this.dataset.id);
          });
        }
        if (element.classList.contains("resetPassword")) {
          element.addEventListener("click", function () {
            vm.resetPassWordUser(this.dataset.email);
          });
        }
      });
    },
    destroyUser(id) {
      api_service.delete("user/" + id)
          .then(() => {
            this.init_data()
          }).catch((e) => {
        alert(e.response.data.error)
      })
    },
    resetPassWordUser(email) {
      api_service.post("user/reset_password", {email: email})
          .then(() => {
            alert('password reset !')
          }).catch((error) => {
        alert(error.response.data)
      })
    },
    resetStudentsData(){
      //TODO
      alert("Feature coming soon !")
    }
  },
  setup() {
    // Search text
    const searchTerm = ref("");
    // DATA
    const data = reactive({
      data: []
    });


    // Table config
    const table = reactive({
      columns: [
        {
          label: "Prénom",
          field: "first_name",
          width: "10%",
          sortable: true,
        },
        {
          label: "Nom",
          field: "last_name",
          width: "10%",
          sortable: true,
        },
        {
          label: "Email",
          field: "email",
          width: "10%",
          sortable: false,
          isKey: true,
        },
        {
          label: "Rôle",
          field: "role",
          width: "15%",
          sortable: true,
        },
        {
          label: "Promotion",
          field: "promotionFullName",
          width: "15%",
          sortable: true,
        },
        {
          label: "Actions",
          field: "quick",
          width: "30%",
          sortable: false,
          display: function (row) {
            return (
                '<button type="button" data-id="' +
                row.id +
                '" class="is-rows-el btn btn-outline-dark edition" data-bs-toggle="modal" ' +
                ' data-bs-target="#ModalUserEdit" style="float: right;">Editer</button>' +
                '<button type="button" data-email="' +
                row.email +
                '" class="is-rows-el btn btn-outline-dark resetPassword" style="float: left;">Réinitialiser le mot de passe</button>' +
                '<button type="button" data-id="' +
                row.id +
                '" class="is-rows-el btn btn-outline-danger supression" style="float: right;"> Supprimer</button>'
            );
          },
        },
      ],
      rows: computed(() => {
        return data.data.filter((x) =>
            x.first_name.toLowerCase().includes(searchTerm.value.toLowerCase()) ||
            x.promotionFullName?.toLowerCase().includes(searchTerm.value.toLowerCase()) ||
            x.role.toLowerCase().includes(searchTerm.value.toLowerCase()));
      }),
      totalRecordCount: computed(() => {
        return table.rows.length;
      }),
      messages: {
        pagingInfo: "Affichage de {0}-{1} sur {2}",
        pageSizeChangeLabel: "Nombre de lignes:",
        gotoPageLabel: "Aller à la page:",
        noDataAvailable: "Pas de données",
      },
      sortable: {
        order: "first_name",
        sort: "asc",
      },
      isLoading: true
    });
    const init_data = () => {
      data.data = []
      api_service.get("user").then((response) => {
        response.data.data.forEach((user) => {
          user.promotionFullName = user.promotion === null ? "" : user.promotion.name + " " + user.promotion.year
          data.data.push(user);
        });
      });
      table.isLoading = false
    }
    return {
      searchTerm,
      table,
      data,
      init_data
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$dark: #247a89;
@import 'bootstrap';
:deep(.vtl-table .vtl-thead .vtl-thead-th) {
  color: $white;
  background-color: $dark;
  border-color: $dark;
}

:deep(.vtl-table td),
:deep(.vtl-table tr) {
  border: none;
}

:deep(.vtl-table td a) {
  margin-inline: 2%;
}
:deep(.is-rows-el) {
  margin: 0.5rem;
  max-width: 50%;
}

:deep(.vtl-paging-info) {
  color: $dark;
}

:deep(.vtl-paging-count-label),
:deep(.vtl-paging-page-label) {
  color: $dark;
}

:deep(.vtl-paging-pagination-page-link) {
  border: none;
}

.dataTable {
  padding-top: 5%;
}

.search {
  float: left;
  max-width: 300px;
  width : auto;
}

.action-group {
  float: right;
  width: auto;
}
</style>
