<template>
  <div v-if="changeable" class="row g-3 align-items-center">
    <div class="mb-3">
      <label for="promotion1" class="form-label">Promotion</label>
        <select
                id="promotion1"
                v-model="user.promotion"
                class="form-select form-select-sm"
                aria-label=".form-select-sm example"
                @input="$emit('update:modelValue',$event.target.value)"
                >
        <option v-for="promotion in promotions" v-bind:key="promotion.id" :value="promotion.id">
          {{ promotion.name +" "+ promotion.year}}
        </option>
      </select>
    </div>
  </div>
  <div v-else class="row g-3 align-items-center">
    <div class="mb-3">
      <label for="promotion2" class="form-label">Promotion</label>
        <select 
                disabled  
                id="promotion2"
                v-model="user.promotion"
                class="form-select form-select-sm"
                aria-label=".form-select-sm example"
                @input="$emit('update:modelValue',$event.target.value)"
                >           
        <option v-for="promotion in promotions" v-bind:key="promotion.id" :value="promotion.id" >
          {{ promotion.name + " " + promotion.year }}
        </option>
      </select>
    </div>
  </div>
</template>

<script>
import store from "@/store";
import {mapState} from "vuex";
import {computed} from "vue";

export default {
  name: "InputPromotion",
  props : {
      changeable  : {
          type : Boolean,
          default : true
      },
  },
  data() {
    return {
      user: {
          promotion : store.state.userInfo.promotion.id
          }
      }
    },
  computed:
      mapState({
        promotions : state => state.administration.promotions
      }),
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"></style>
