<template>
  <div
      class="modal fade"
      id="ModalUserCreate"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Ajout d'un utilisateur
          </h5>
          <button
              type="button"
              class="btn-close btn-close-user-create"
              data-bs-dismiss="modal"
              aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <fieldset class="container">
            <div class="error" v-if="error">
              <p>Veuillez renseigner les champs manquants</p>
            </div>
            <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="prenom" class="form-label">Prénom</label>
                <input
                    v-on:keyup="logOnEnter"
                    id="prenom"
                    v-model="user.first_name"
                    class="form-control current-prenom"
                    placeholder="David"
                />
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="nom" class="form-label">Nom</label>
                <input
                    v-on:keyup="logOnEnter"
                    id="nom"
                    v-model="user.last_name"
                    class="form-control current-nom"
                    placeholder="Durand"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                  v-on:keyup="logOnEnter"
                  type="email"
                  id="email"
                  v-model="user.email"
                  class="form-control"
                  placeholder="azer@tyuiop.com"
              />
            </div>
            <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="role" class="form-label">Rôle</label>
                <select
                    v-model="user.role"
                    id="role"
                    class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                >
                  <option selected>Chosir un rôle</option>
                  <option value="student">Etudiant</option>
                  <option value="admin">Administrateur</option>
                </select>
              </div>
            </div>
            <div v-show="user.role!='admin'" class="form-check form-switch">
              <input class="form-check-input" v-model="newPromotion" type="checkbox" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Créer une nouvelle promotion
                {{ newPromotion }} </label>
            </div>
            <template v-if="newPromotion && user.role!='admin' ">
              <div v-if="newPromotion && user.role!='admin'" class="mb-3">
                <label for="promotion-name" class="form-label">Nom de la promotion</label>
                <input
                    v-on:keyup="logOnEnter"
                    type="email"
                    id="promotion-name"
                    v-model="promotionObject.name"
                    class="form-control"
                />
              </div>
              <div class="mb-3">
                <label for="promotion-year" class="form-label">Année de la promotion</label>
                <input
                    v-on:keyup="logOnEnter"
                    type="number"
                    id="promotion-year"
                    v-model="promotionObject.year"
                    class="form-control"
                />
              </div>
            </template>
            <div v-else-if="user.role!='admin'" class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="promotion1" class="form-label">Promotion</label>
                <select
                    id="promotion1"
                    v-model="user.promotion"
                    class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                >
                  <option v-for="promotion in promotions" v-bind:key="promotion.id" :value="promotion.id">
                    {{ promotion.name + " " + promotion.year }}
                  </option>
                </select>
              </div>
            </div>
            <div class="alert" v-if="caps_lock_on">
              <p>Attention le verrouillage des majuscules est activé</p>
            </div>
            <div class="modal-footer">
              <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
              >
                Annuler
              </button>
              <button
                  type="button"
                  class="btn btn-primary"
                  @click.prevent="valider"
              >
                Valider
              </button>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apiService from "@/Authenticating/api.service";
import {mapState} from "vuex";
import store from "@/store"

export default {
  name: "ModalCreateUser",
  data() {
    return {
      id: "",
      user: {
        first_name: "",
        last_name: "",
        email: "",
        role: "",
        promotion: "",
        token: ""
      },
      promotionObject : {
        name: "",
        year : 0,
      },
      newPromotion: false,
      caps_lock_on: "",
      error: "",

    };
  },
  computed: mapState({
    promotions: state => state.administration.promotions
  }),
  methods: {
    logOnEnter(e) {
      this.caps_lock_on = e.getModifierState("CapsLock");
      if (e.keyCode === 13) {
        this.valider();
      }
    },
    initDataTable() {
      this.$parent.init_data();
    },
    valider() {
      let vm = this
      if(this.user.role!='admin'){
        let promotion = this.createOrUpdatePromotion()
        apiService
            .post("user", {
              first_name: vm.user.first_name,
              last_name: vm.user.last_name,
              email: vm.user.email,
              role: vm.user.role,
              promotion: promotion.name,
              promotion_year: promotion.year,
              commentary: "",
            })
            .then((response) => {
              vm.error = false
              vm.initDataTable()
              document.getElementsByClassName('btn-close-user-create')[0].click();
            })
            .catch((e) => {
              vm.error = true;
            });
      }else{
      apiService
          .post("user", {
            first_name: vm.user.first_name,
            last_name: vm.user.last_name,
            email: vm.user.email,
            role: vm.user.role,
            promotion: null,
            promotion_year: null,
            commentary: "",
          })
          .then((response) => {
            vm.error = false
            vm.initDataTable()
            document.getElementsByClassName('btn-close-user-create')[0].click();
          })
          .catch((e) => {
            vm.error = true;
          });
      }
      
    },
    createOrUpdatePromotion(){
      if(this.newPromotion)
      {
        store.dispatch("administration/initPromotions");
        return this.promotionObject
      }else{
        return this.promotions.find(p => p.id === this.user.promotion)
      }
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "bootstrap";

.modal {
  color: $white;
}
</style>
