<template>
  <div
    class="modal fade"
    id="ModalUserImport"
    tabindex="-1"
    role="dialog"
    aria-labelledby="ModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalCenterTitle">
            Importer des utilisateurs
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <fieldset class="container">
            <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="formFileLg" class="form-label"
                >Fichier *.csv à importer</label
              >
              <input
                class="form-control form-control-lg"
                @change="previewFiles"
                id="formFileLg"
                type="file"
              />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Annuler
              </button>
              <button
                type="button"
                class="btn btn-primary"
                @click.prevent="valider"
              >
                Valider
              </button>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apiService from "@/Authenticating/api.service";
import store from "@/store";

export default {
  name: "ModalUserImport",
  data() {
    return {
      file : ""
    };
  },
  methods: {
    previewFiles(event){
      this.file = event.target.files
    },
     init_data_table() {
      this.$parent.init_data();
    },
    valider() {
      let vm = this
      let formdata = new FormData()
      formdata.append("file", this.file[0])
      apiService
          .import("user/import", formdata)
          .then((response) => {
            store.dispatch("administration/initPromotions")
            vm.init_data_table()
          })
          .catch((e) => {
            alert(e.response.data.error)
          });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "bootstrap";
.modal {
  color: $white;
}
</style>
