<template>
  <div
      class="modal fade"
      id="ModalUserEdit"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Edition utilisateur
          </h5>
          <button
              type="button"
              class="btn-close btn-close-user-edit"
              data-bs-dismiss="modal"
              aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <fieldset class="container">
            <div class="error" v-if="error">
              <p>Veuillez renseigner les champs manquants</p>
            </div>
            <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="prenom" class="form-label">Prénom</label>
                <input
                    v-on:keyup="logOnEnter"
                    id="prenom"
                    v-model="user.last_name"
                    class="form-control current-prenom"
                    placeholder="David"
                />
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="nom" class="form-label">Nom</label>
                <input
                    v-on:keyup="logOnEnter"
                    id="nom"
                    v-model="user.first_name"
                    class="form-control current-nom"
                    placeholder="Durand"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                  v-on:keyup="logOnEnter"
                  type="email"
                  id="email"
                  v-model="user.email"
                  class="form-control"
                  placeholder="azer@tyuiop.com"
              />
            </div>
            <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="role" class="form-label">Rôle</label>
                <select
                    v-model="user.role"
                    id="role"
                    class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                >
                  <option selected>Chosir un rôle</option>
                  <option value="student">Etudiant</option>
                  <option value="admin">Administrateur</option>
                </select>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="promotion1" class="form-label">Promotion</label>
                <select
                    id="promotion1"
                    v-model="promotionId"
                    class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                >
                  <option v-for="promotion in promotions" :key="promotion.id" :value="promotion.id">
                    {{ promotion.name + " " + promotion.year }}
                  </option>
                </select>
              </div>
            </div>
            <div class="alert" v-if="caps_lock_on">
              <p>Attention le verrouillage des majuscules est activé</p>
            </div>
            <div class="modal-footer">
              <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
              >
                Annuler
              </button>
              <button
                  type="button"
                  class="btn btn-primary"
                  @click.prevent="valider"
              >
                Valider
              </button>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apiService from "@/Authenticating/api.service";
import store from "@/store";

export default {
  name: "ModalUser",
  data() {
    return {
      caps_lock_on: "",
      error: "",
      promotionId : null
    };
  },
  watch : {
    user(newUser, oldUser){
      if(newUser.promotion != null)
        this.promotionId = newUser.promotion.id
    }
  },
  computed: {
    user() {
      return store.state.userToEdit
    },
    promotions() {
      return store.state.administration.promotions
    }
  },
  methods: {
    logOnEnter(e) {
      this.caps_lock_on = e.getModifierState("CapsLock");
      if (e.keyCode === 13) {
        this.valider();
      }
    },
    init_data_table() {
      this.$parent.init_data();
    },
    valider() {
      let vm = this
      let promotion = this.promotions.find(p => p.id === this.promotionId)
      apiService
          .update("user/" + vm.user.id, {
            first_name: vm.user.first_name,
            last_name: vm.user.last_name,
            email: vm.user.email,
            role: vm.user.role,
            promotion: promotion.name,
            promotion_year: promotion.year,
            commentary: "",
          })
          .then(() => {
            vm.error = false
            vm.init_data_table()
            document.getElementsByClassName('btn-close-user-edit')[0].click();
          })
          .catch((e) => {
            vm.error = true
          });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "bootstrap";

.modal {
  color: $white;
}
</style>
