<template>
  <navbar/>
  <modalGenerateGroup/>
  <div class="home">
    <teachingUnitAddToGroup :students="students" :groupes="groupes" :subject="ChosenUe">
      <alertBootstrap :error="error"/>
    </teachingUnitAddToGroup>
    <template v-for="grp in groupes">
      <teachingUnitGroupsTable :groupe="grp" :students="grp.ue.students"/>
    </template>
  </div>
  <footer/>
</template>

<script>
import {mapGetters} from "vuex";
import footer from "@/components/footer";
import modalGenerateGroup from "@/components/ues/modalGenerateGroup";
import navbar from "@/components/Nav_bar";
import teachingUnitGroupsTable from "@/views/admin/teachingUnit/teachingUnitGroupsTable";
import teachingUnitAddToGroup from "@/views/admin/teachingUnit/teachingUnitAddToGroup";
import alertBootstrap from "@/components/bootstrap/alert"

export default {
  name: "teachingUnitGroups",
  components: {
    navbar,
    footer,
    modalGenerateGroup,
    teachingUnitGroupsTable,
    teachingUnitAddToGroup,
    alertBootstrap
  },
  data() {
    return {
      error: {
        status: false,
        message: null
      },
    }
  },
  computed: {
    ...mapGetters({
      students: 'teachingUnit/students',
      groupes: 'teachingUnit/getGroups',
      ChosenUe: 'teachingUnit/getUnitToEdit'
    })
  },
}
</script>


<style lang="scss">
$dark: #247a89;
@import 'bootstrap';

</style>
