<template>
  <Navbar/>
  <DataTable/>
  <Footer/>
</template>

<script>
import Navbar from "@/components/Nav_bar.vue"
import DataTable from "@/components/ues/dataTableTeachingUnit.vue"
import Footer from "@/components/footer";

export default {
  name: 'ChoixUE',
  components: {
    Navbar,
    DataTable,
    Footer
  },
  mounted() {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "bootstrap";

.table {
  margin-top: 5%;
}
</style>


