<template>
  <Navbar/>
  <modalGenerateGroup/>
  <div class="home">
    <div class="card container card-body">
      <h5 class="card-title">Les étudiants de l'UE</h5>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <SimpleTypeahead
                  :items="students"
                  :placeholder="options.placeholder"
                  @selectItem="selectItem"
                  @onInput="onInput"
                  @onBlur="onBlur"
                  :minInputLength="options.minInputLength"
                  :itemProjection="
						(item) => {
							return item.first_name + ' ' + item.last_name + ', '
							+ item.parcours.name + '-' + item.promotion.name + ' ' + item.promotion.year;
						}
					"
              />
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioInitial"
                       value="initial"
                       v-model="addToInitialOrFinal">
                <label class="form-check-label" for="flexRadioInitial">
                  Initial
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDeFinal" value="final"
                       v-model="addToInitialOrFinal">
                <label class="form-check-label" for="flexRadioDeFinal">
                  Final
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-8">
              <div v-if="addToInitialOrFinal==='initial'">
                <label for="number" class="form-label">Ordre de choix </label>
                <input
                    id="number"
                    type="number"
                    v-model="choiceOrder"
                    class="form-control"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <button class="btn btn-dark ms-3 mt-4" type="button" style="max-width: 200px;width: auto;"
                      @click="addStudentToUe(this.$route.params.idTU)">Valider
              </button>
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
    <div class="card container card-body">
      <h5 class="card-title">Les étudiants de l'UE Initial</h5>
      <table class="table borderless">
        <thead class="table-dark">
        <tr>
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">Promotion</th>
          <th scope="col">Orde de choix</th>
          <th scope="col">Commentaire</th>
          <th scope="col">Actions :

            <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input"
                     :id="choiceAllInitial" v-model=toggle>
              <label class="form-check-label"
                     :for="choiceAllInitial">Tout sélectionner</label>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="choiceInitial in studentsInitial" :key="choiceInitial.student.id">
          <th scope="row">{{ choiceInitial.student.first_name }}</th>
          <th scope="row">{{ choiceInitial.student.last_name }}</th>
          <th scope="row">{{
              choiceInitial.student.parcours.name + " " +
              choiceInitial.student.promotion.name + " " +
              choiceInitial.student.promotion.year
            }}
          </th>
          <th scope="row"> {{ choiceInitial.choice_number }}</th>
          <th scope="row">{{ choiceInitial.student.commentary }}</th>
          <td>
            <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input"
                     id="choiceInitial.student.first_name+choiceInitial.student.id" v-model=chosenStudentsInitial
                     :value="choiceInitial.student.id">
              <label class="form-check-label"
                     for="choiceInitial.student.first_name+choiceInitial.student.id">Sélectionner</label>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button v-show="chosenStudentsInitial.length >= 1" class="btn btn-dark" type="button"
                style="max-width: 200px;width: auto;"
                @click="SendStudentsInitialToFinal(this.$route.params.idTU)">Valider la selection
        </button>
      </div>
    </div>
    <div class="card container card-body" style="width: auto">
      <h5 class="card-title">Les étudiants de l'UE Final</h5>
      <table class="table borderless">
        <thead class="table-dark">
        <tr>
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">Promotion</th>
          <th scope="col">Commentaire</th>
          <th scope="col">Actions :
            <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input"
                     :id="choiceAllFinal" v-model=toggleFinal>
              <label class="form-check-label"
                     :for="choiceAllFinal">Tout sélectionner</label>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="student in studentsFinal" :key="student.id">
          <th scope="row">{{ student.first_name }}</th>
          <th scope="row">{{ student.last_name }}</th>
          <th scope="row">{{ student.parcours.name + " " + student.promotion.name + " " + student.promotion.year }}</th>
          <th scope="row">{{ student.commentary }}</th>
          <td>
            <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input" :id="student.first_name+student.id"
                     v-model=chosenStudentsFinal
                     :value="student.id">
              <label class="form-check-label" :for="student.first_name+student.id">Sélectionner</label>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button v-show="chosenStudentsFinal.length >= 1" class="btn btn-dark" type="button"
                style="max-width: 200px;width: auto;"
                @click="RemoveStudentFromFinal(this.$route.params.idTU)">Supprimer
        </button>
        <button v-show="chosenStudentsFinal.length >= 1" class="btn btn-dark" type="button"
                style="max-width: 200px;width: auto;"
                @click="selectStudentsFromFinal(this.$route.params.idTU)" data-bs-toggle="modal"
                data-bs-target="#modalGenerateGroup">Valider la selection et créer les groupes
        </button>
      </div>
    </div>
  </div>
  <Footer/>
</template>

<script>
import Navbar from "@/components/Nav_bar.vue";
import apiService from "@/Authenticating/api.service";
import {mapGetters} from "vuex";
import store from "@/store"
import Footer from "@/components/footer";
import SimpleTypeahead from 'vue3-simple-typeahead'
import modalGenerateGroup from "@/components/ues/modalGenerateGroup";

export default {
  name: "teachingUnitsStudents",
  components: {
    Navbar, Footer, SimpleTypeahead, modalGenerateGroup
  },
  created() {
    this.listFiltered = this.students;
  },
  data() {
    return {
      toggle: false,
      toggleFinal: false,
      chosenStudentsInitial: [],
      chosenStudentsFinal: [],
      StudentId: null,
      addToInitialOrFinal: "initial",
      choiceOrder: null,
      commentary: null,
      query: '',
      options: {
        placeholder: 'Nom de l\'étudiant',
        minInputLength: 1,
      },
      data: {
        input: null,
        selection: null
      }
    }
  },
  watch: {
    toggle(newT, oldT) {
      if (newT !== null) {
        if (newT) {
          this.studentsInitial.forEach(choice => {
            this.chosenStudentsInitial.push(choice.student.id)
          })
        } else {
          this.chosenStudentsInitial = []
        }
      }
    },
    toggleFinal(newT, oldT) {
      if (newT !== null) {
        if (newT) {
          this.studentsFinal.forEach(student => {
            this.chosenStudentsFinal.push(student.id)
          })
        } else {
          this.chosenStudentsFinal = []
        }
      }
    }
  },
  computed: {
    ...mapGetters({
      studentsInitial: 'teachingUnit/initialStudentsOfChosenUnit',
      studentsFinal: 'teachingUnit/finalStudentsOfChosenUnit',
      students: 'teachingUnit/students',
    })
  },
  methods: {
    selectItem(item) {
      this.data.selection = item;
      this.StudentId = item.id;
    },
    onInput(event) {
      this.data.selection = null;
      this.data.input = event.input;
      this.listFiltered = event.items;
    },
    onBlur(event) {
      this.data.input = event.input;
      this.listFiltered = event.items;
    },
    addStudentToUe(idTU) {
      if (this.addToInitialOrFinal === "initial") {
        if (this.choiceOrder != null) {
          apiService.update("ues/" + idTU + "/users/initial/add/" + this.StudentId, {
            ordre_choix: this.choiceOrder,
            commentary: this.commentary
          })
              .then(() => {
                store.dispatch("teachingUnit/initialStudentsOfChosenUnit", idTU)
              }).catch(e => {
            alert(e.response)
          })
        } else {
          alert("Champs nécessaire : ordre de choix ")
        }
      } else {
        apiService.update("ues/" + idTU + "/users/final/add/" + this.StudentId)
            .then(() => {
              store.dispatch("teachingUnit/finalStudentsOfChosenUnit", idTU)
            }).catch(e => {
          alert(e.response)
        })
      }
    },
    RemoveStudentFromFinal(idUT) {
      let id = idUT
      this.chosenStudentsFinal.forEach(element => {
        apiService.update("ues/" + id + "/users/final/remove/" + element).then(() => {
          store.dispatch("teachingUnit/finalStudentsOfChosenUnit", id)
        }).catch(e => {
          alert(e)
        })
      });
    },
    SendStudentsInitialToFinal(idTU) {
      let id = idTU
      this.chosenStudentsInitial.forEach(element => {
        apiService.update("ues/" + id + "/users/final/add/" + element).then(() => {
          store.dispatch("teachingUnit/finalStudentsOfChosenUnit", id)
        }).catch(e => {
          alert(e.response)
        })
      })
    },
    selectStudentsFromFinal(idTu) {
      //J'envoie les élèves (entity à sort par nom) choisi par l'admin
      //j'alume le modal pour demander le nombre de groupe
      let studentToGroup = []
      this.chosenStudentsFinal.forEach(idS => {
        studentToGroup.push(this.studentsFinal.find(sF => sF.id === idS))
      })
      store.dispatch("groupGenerator/students", studentToGroup)
      store.dispatch("groupGenerator/chosenUEId", idTu)
      // à faire dans le modal
      //J'indique le nombre d'éléve selectioné
      //par rapport au nombre donner je demande un nom et une capacité pour chaque groupe
      //Je créer et atache chaque groupe au ue
      //et j'attache une liste d'id (student) à chaque groupe
      //je passe à la page d'affichage des groupes lié à l'ue
    }
  }
};
</script>

<style scoped lang="scss">
$dark: #247a89;
@import 'bootstrap';
@import 'vue3-simple-typeahead/dist/vue3-simple-typeahead.css';


::v-deep(.simple-typeahead) {
  max-width: 300px !important;
}

::v-deep(.simple-typeahead > input) {
  border: none !important;
  width: 250px !important;
  max-width: 300px !important;
  margin-left: 10px !important;
}

::v-deep(.simple-typeahead-list) {
  max-height: 200px !important;
  width: auto !important;
  max-width: 300px !important;
  margin-left: 10px !important;
}

.form-check-input:checked {
  background-color: $dark;
  border-color: white;
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%2836, 122, 137, 0.25%29'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%2836, 122, 137, 0.75%29'/%3e%3c/svg%3e");
}

</style>
