<template>
  <div class="card container card-body" style="width: auto">
    <div class="card-header d-flex flex-row bd-highlight mb-3">
      <h5 class="card-title p-2 bd-highlight">Les étudiants du groupe : {{ groupe.name }} </h5>
      <button class="btn btn-outline-dark card-title ms-auto p-2 bd-highlight" type="button"
              style="max-width: 200px;width: auto;"
              @click="pdfGroupe(groupe)">Fiche d'émargement
      </button>
      <button class="btn btn-outline-danger card-title ms-auto p-2 bd-highlight" type="button"
              style="max-width: 200px;width: auto;"
              @click="removeGroupe(groupe)">Supprimer le groupe
      </button>
    </div>
    <table class="table borderless">
      <thead class="table-dark">
      <tr>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Parcours / Sous promotion</th>
        <th scope="col">Commentaire</th>
        <th scope="col">Actions :
          <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input"
                   :id="choiceAllInitial" v-model=toggle>
            <label class="form-check-label"
                   :for="choiceAllInitial">Tout sélectionner</label>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="student in students" :key="student.id">
        <th scope="row">{{ student?.first_name }}</th>
        <th scope="row">{{ student?.last_name }}</th>
        <th scope="row">
          {{
            student?.parcours?.name + " " +
            student?.promotion?.name + " " +
            student?.promotion?.year
          }}
        </th>
        <th scope="row">{{ student.commentary }}</th>
        <td>
          <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input"
                   id="student.first_name+student.id" v-model=groupe.chosenStudents
                   :value="student.id">
            <label class="form-check-label"
                   for="student.first_name+student.id">Sélectionner</label>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button v-show="groupe.chosenStudents.length >= 1" class="btn btn-dark" type="button"
              style="max-width: 200px;width: auto;"
              @click="removeFromGroupe(groupe)">Supprimer la sélection
      </button>
    </div>
    <iframe v-if="pdfContent" :src="`${pdfContent}`" width="100%" height="500px"></iframe>
  </div>
</template>

<script>
import apiService from "@/Authenticating/api.service";
import store from "@/store";

export default {
  name: "teachingUnitGroupsTable",
  props: {
    groupe: {},
    students: {}
  },
  data() {
    return {
      toggle: false,
      pdfContent: null
    }
  },
  watch: {
    toggle(newValue, OldValue) {

      if (newValue !== null) {
        if (newValue) {
          this.students.forEach(s => {
            this.groupe.chosenStudents.push(s.id)
          })
        } else {
          this.groupe.chosenStudents = []
        }
      }
    }
  },
  methods: {
    removeFromGroupe(grp) {
      let vm = this
      grp.chosenStudents.forEach(studentId => {
        apiService.update("groupes/" + grp.id + "/users/remove/" + studentId)
            .then(() => {
              store.dispatch("teachingUnit/groups", vm.$route.params.idTU)
              vm.$parent.error.status = 'success'
              vm.$parent.error.message = 'Etudiant supprimé du groupe !'
            }).catch(e => {
          vm.$parent.error.status = 'danger'
          vm.$parent.error.message = e.response.data.error
        })
      })
    },
    removeGroupe(grp) {
      let vm = this
      apiService.delete("groupes/" + grp.id).then((response) => {
        store.dispatch('teachingUnit/groups', vm.$route.params.idTU)
        vm.$parent.error.status = 'success'
        vm.$parent.error.message = ' Groupe supprimé !'
      }).catch(e => {
        vm.$parent.error.status = 'danger'
        vm.$parent.error.message = ' Impossible de supprimé le groupe !'
      })
    },
    pdfGroupe(grp) {
      let vm = this
      apiService.getPdf("groupes/" + grp.id + "/registration-file").then((response) => {
        let blob = new Blob([response.data], {
          type: "application/pdf"
        })
        vm.pdfContent = URL.createObjectURL(blob)
        vm.$parent.error.status = 'success'
        vm.$parent.error.message = ' Fiche du groupe !'
      }).catch(e => {
        vm.$parent.error.status = 'danger'
        vm.$parent.error.message = ' Fiche du groupe !'
      })
    }
  }
}
</script>

<style scoped>

</style>