<template>
  <div class="card container card-body" style="width: auto">
    <h5 class="card-title">Les étudiants de l'UE {{ subject.full_name }}</h5>
    <slot></slot>
    <div class="d-flex justify-content-start">
      <div>
        <select
            v-model="chosenGroupId"
            class="form-select form-select-sm"
        >
          <option :value="null" disabled>Choisissez un groupe ...</option>
          <option v-for="groupe in groupes" :value="groupe.id">
            {{ "Groupe : " + groupe.name }}
          </option>
        </select>
      </div>
      <SimpleTypeahead
          :items="students"
          :placeholder="options.placeholder"
          @selectItem="selectItem"
          @onInput="onInput"
          @onBlur="onBlur"
          :minInputLength="options.minInputLength"
          :itemProjection="
						(item) => {
							return item.first_name + ' ' + item.last_name + ', '
							+ item.parcours.name + '-' + item.promotion.name + ' ' + item.promotion.year;
						}
					">

      </SimpleTypeahead>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-dark" type="button" style="max-width: 200px;width: auto;"
              @click="addStudentToGroup">Valider
      </button>
    </div>
  </div>
</template>

<script>
import apiService from "@/Authenticating/api.service";
import store from "@/store";
import SimpleTypeahead from 'vue3-simple-typeahead'

export default {
  name: "teachingUnitAddToGroup",
  components : {
    SimpleTypeahead
  },
  created() {
    this.listFiltered = this.students;
  },
  props :{
    students : null,
    groupes : null,
    subject : null
  },
  data(){
    return {
      chosenGroupId: null,
      StudentId: null,
      query: '',
      options: {
        placeholder: 'Nom de l\'étudiant',
        minInputLength: 1,
      },
      data: {
        input: null,
        selection: null
      },
    }
  },
  methods:{
    selectItem(item) {
      this.data.selection = item;
      this.StudentId = item.id;
    },
    onInput(event) {
      this.data.selection = null;
      this.data.input = event.input;
      this.listFiltered = event.items;
    },
    onBlur(event) {
      this.data.input = event.input;
      this.listFiltered = event.items;
    },
    addStudentToGroup() {
      let vm = this
      this.$parent.error.status = false
      //TODO:
      // erreur à gérer
      apiService.update("groupes/" + this.chosenGroupId + "/users/add/" + this.StudentId)
          .then(() => {
            vm.$parent.error.status = 'success'
            vm.$parent.error.message = ' Etudiant Ajouté !'
            store.dispatch("teachingUnit/groups", vm.$route.params.idTU)
          }).catch(e => {
        vm.$parent.error.status = 'danger'
        vm.$parent.error.message = "l\'"+e.response.data.error
      })
    },
  }
}
</script>

<style scoped>
@import 'vue3-simple-typeahead/dist/vue3-simple-typeahead.css';

::v-deep(.simple-typeahead) {
  max-width: 300px !important;
}

::v-deep(.simple-typeahead > input) {
  border: none !important;
  width: 250px !important;
  max-width: 300px !important;
  margin-left: 10px !important;
}

::v-deep(.simple-typeahead-list) {
  max-height: 200px !important;
  width: auto !important;
  max-width: 300px !important;
  margin-left: 10px !important;
}
</style>