<template>
  <Navbar/>
  <div class="home">
    <div class="card container" style="width: auto">
      <div class="card-header">
        Bienvenue sur le site pour les choix d'Unités d'Enseignement (UE)
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Vous trouverez
          <router-link class="link-info" to="/about">ici</router-link> les
          informations du Master 1
        </li>
        <li class="list-group-item">
          Vous trouverez
          <router-link class="link-info" to="/about">ici</router-link> les
          informations du Master 2 parcours OSIE
        </li>
        <li class="list-group-item">
          Vous trouverez
          <router-link class="link-info" to="/about">ici</router-link> les
          informations du Master 2 parcours SIO
        </li>
        <li class="list-group-item">
          Vous trouverez
          <router-link class="link-info" to="/about">ici</router-link> les
          informations du Master 2 SID
        </li>
        <li class="list-group-item">
          Vous trouverez
          <router-link class="link-info" to="/about">ici</router-link> les
          informations du Master 2 INE
        </li>
      </ul>
    </div>
  </div>
  <Footer/>
</template>

<script>
import Navbar from "@/components/Nav_bar.vue";
import Footer from "@/components/footer";

export default {
  name: "HomeView",
  components: {
    Navbar,Footer
  },
};
</script>
