<template>
  <Navbar :Visible="true"/>
  <login @reset-password="(clicked) => resetPassword = clicked " v-if="!resetPassword"/>
  <forgot-password @reset-password="(clicked) => resetPassword = clicked " v-else/>
</template>

<script>
import {defineAsyncComponent, defineComponent} from "vue";
import Navbar from "@/components/Nav_bar.vue";

export default defineComponent({
  name: "LoginView",
  components: {
    Navbar,
    login : defineAsyncComponent(() => import('@/components/login/login')),
    forgotPassword: defineAsyncComponent(() => import('@/components/login/forgotPassword')),
  },
  data() {
    return {
      resetPassword: false
    };
  }
})
</script>

<style scoped lang="scss">
</style>
