<template>
  <navbar/>
  <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
    <div class="p-2 bd-highlight">
      <div class="card" style="width: 25rem">
        <div class="card-body">
          <h5 class="card-title">Mon compte</h5>
          <h6 class="card-subtitle mb-2 text-muted">Nom Pénom</h6>
          <p class="card-text">
            {{ user.last_name + " " + user.first_name }}
          </p>
          <h6 class="card-subtitle mb-2 text-muted">Email</h6>
          <p class="card-text">
            {{ user.email }}
          </p>
          <h6 class="card-subtitle mb-2 text-muted">Rôle</h6>
          <p class="card-text">
            {{ user.role === 'admin' ? 'Administrateur' : 'Etudiant' }}
          </p>
          <a class="float-right btn btn-dark" data-bs-toggle="modal"
             data-bs-target="#ModalUserChangePW">Changer le mot de
            passe</a>
        </div>
      </div>
    </div>
    <div class="p-2 bd-highlight">
      <div v-if="user.role !=='admin'" class="card" style="width: 25rem">
        <div class="card-body">
          <div class="form-floating">
            <textarea
                v-model="user.commentary"
                class="form-control"
                placeholder="Leave a comment here"
                id="floatingTextarea2"
                style="height: 100px"
            ></textarea>
            <label for="floatingTextarea2">Commentaire</label>
          </div>
          <div class="d-flex flex-row-reverse bd-highlight">
            <div class="p-2 bd-highlight">
              <a class="float-right btn btn-outline-dark" @click="valider">Enregistrer le commentaire</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <modal-user-change-p-w modal-title="Changer le mot de passe"/>
  <Footer/>
</template>

<script>
import store from '@/store/index';
import navbar from "@/components/Nav_bar.vue";
import apiService from '@/Authenticating/api.service';
import Footer from "@/components/footer";
import ModalUserChangePW from "@/components/ModalUserChangePW";

export default {
  name: "ProfilView",
  components: {
    navbar, Footer, ModalUserChangePW
  },
  data() {
    return {
    }
  },
  mounted() {
    store.commit("administration/setUserProfil")
  },
  computed: {
    user() {
      return store.getters["administration/getUserProfil"];
    },
  },
  methods: {
    valider() {
      let This = this
      if (this.user.promotion != null)
        apiService.update("user/" + this.user.id, {
          role: This.user.role,
          commentary: This.user.commentary,
          promotion: store.getters.getUserInfo.promotion.name,
          promotion_year: store.getters.getUserInfo.promotion.year
        }).then(async (response) => {
          await store.dispatch("initUserInfo");
        })
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$dark: #247a89;
@import "bootstrap";
</style>
