<template>
  <navbar/>
  <div class="home">
    <div class="card container card-body">
      <h5 class="card-title">{{parcours.full_name}}</h5>
      <h5 class="card-title">Liste des campagnes</h5>
      <div class="row g-3 align-items-center">
        <div class="mb-3">
          <label for="name" class="form-label">Numéro</label>
          <input
              id="name"
              type="number"
              v-model="campagne.number"
              class="form-control "
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="mb-3">
          <label for="start_date" class="form-label">Date de début</label>
          <input
              id="start_date"
              type="date"
              v-model="campagne.start_date"
              class="form-control "
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="mb-3">
          <label for="end_date" class="form-label">Date de fin</label>
          <input
              id="end_date"
              type="date"
              v-model="campagne.end_date"
              class="form-control "
          />
        </div>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-dark" type="button" style="max-width: 200px;width: auto;"
                @click="sendCampagneToCreate(this.$route.params.id)">Valider
        </button>
      </div>
    </div>
    <div class="card container card-body" style="width: auto">
      <table class="table borderless">
        <thead class="table-dark">
        <tr>
          <th scope="col">Numéro</th>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="campagne in campagnes" :key="campagne.id">
          <th scope="row">{{ campagne.number }}</th>
          <th scope="row">{{ campagne.start_date }}</th>
          <th scope="row">{{ campagne.end_date }}</th>
          <td>
            <button type="button" class="is-rows-el btn btn-outline-secondary"
                    @click="deleteCampagne(campagne.id, this.$route.params.id)" style="float: right"> Supprimer
            </button>
            <button v-if="campagne.status" type="button" class="is-rows-el btn btn-outline-secondary"
                    @click="endCampagne(campagne.id, this.$route.params.id)" style="float: right"> Fin
            </button>
            <button v-else type="button" class="is-rows-el btn btn-outline-secondary"
                    @click="startCampagne(campagne.id, this.$route.params.id)" style="float: right"> Début
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <footer/>
</template>

<script>
import navbar from "@/components/Nav_bar.vue";
import apiService from "@/Authenticating/api.service";
import {mapGetters} from "vuex";
import store from "@/store"
import footer from "@/components/footer";

export default {
  name: "campagnes",
  components: {
    navbar,
    footer
  },
  data() {
    return {
      chosenStudents: [],
      mapStudentsAlreadySubscribed: [],
      campagne: {
        number: null,
        start_date: null,
        end_date: null
      }
    }
  },
  computed: {
    ...mapGetters({
      campagnes: 'course/campagnes',
      parcours : 'course/parcoursEdit'
    })
  },
  methods: {
    deleteCampagne(idc, idp) {
      apiService.delete("campagnes/" + idc)
          .then((response) => {
            store.dispatch('course/campagnes', idp)
          }).catch(e => {
        alert(e.response.data)
      })
    },
    sendCampagneToCreate(id) {
      let error = false;
      apiService.post("campagnes", {
        number: this.campagne.number,
        start_date: this.campagne.start_date,
        end_date: this.campagne.end_date
      }).then((response) => {
        apiService.update('parcours/' + id + '/campagnes/add/' + response.data.data.id).then((response) => {
          error = false;
          store.dispatch("course/campagnes", id)
        }).catch(e => {
          error = true
          alert(e.response.data.error)
        })
      }).catch(e => {
        error = true
        alert(e.response.data.error)
      })
    },
    startCampagne(idc, idp){
      apiService.update('campagnes/'+idc+'/start').then((response)=>{
        alert("la campagne a commencé !")
        store.dispatch("course/campagnes",idp)
      })
    },
    endCampagne(idc, idp){
      apiService.update('campagnes/'+idc+'/end').then((response)=>{
        alert("la campagne est fini !")
        store.dispatch("course/campagnes",idp)
      })
    }
  }
};
</script>

<style scoped lang="scss">
$dark: #247a89;
@import 'bootstrap';

.form-check-input:checked {
  background-color: $dark;
  border-color: white;
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%2836, 122, 137, 0.25%29'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%2836, 122, 137, 0.75%29'/%3e%3c/svg%3e");
}

</style>
