<template>
  <Navbar/>
  <div class="home">
    <div class="card container card-body">
      <h5 class="card-title">{{parcours.full_name}}</h5>
      <h5 class="card-title">Liste des Etudiants</h5>
        <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="student" class="form-label">Etudiant</label>
                <select
                    id="student"
                    v-model="StudentId"
                    class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                >
                  <option v-for="student in students" v-bind:key="student.id" :value="student.id">
                    {{ student.first_name + " " + student.last_name }}
                  </option>
                </select>
              </div>
            </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-dark" type="button" style="max-width: 200px;width: auto;"
                @click="addStudentToCourse(this.$route.params.id)">Valider
        </button>
      </div>
    </div>
    <div class="card container card-body" style="width: auto">
    <table class="table borderless">
            <thead class="table-dark">
            <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Commentaire</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="student in studentsOfCourse" :key="student.id">
                <th scope="row">{{ student.first_name }}</th>
                <th scope="row">{{ student.last_name }}</th>
                <th scope="row">{{ student.commentary }}</th>
                <td>
                    <button type="button" class="is-rows-el btn btn-outline-secondary" @click="deleteStudentFromCourse(student.id, this.$route.params.id)" style="float: right"> Supprimer</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
  </div>
  <Footer/>
</template>

<script>
import Navbar from "@/components/Nav_bar.vue";
import apiService from "@/Authenticating/api.service";
import {mapGetters} from "vuex";
import store from "@/store"
import Footer from "@/components/footer";

export default {
  name: "students",
  components: {
    Navbar,
    Footer
  },
  data() {
    return {
      chosenStudents: [],
      mapStudentsAlreadySubscribed: [],
      StudentId : null
    }
  },
  computed: {
    ...mapGetters({
      studentsOfCourse : 'course/students',
      students : "course/studentsAllowedToSub",
      parcours : "course/parcoursEdit"
    })
  },
  methods: {
    deleteStudentFromCourse(ids,idp){
        apiService.update("parcours/"+idp+"/users/remove/"+ids)
        .then((response)=>{
                store.dispatch("course/students",idp)
                store.dispatch("course/studentsAllowedToSub", id)
        }).catch(e =>{
            alert(e.response.data)
        })
    },
    addStudentToCourse(id) {
      let error = false;
            apiService.update("parcours/"+id+"/users/add/"+this.StudentId)
            .then((response) =>{
                store.dispatch("course/students",id)
                store.dispatch("course/studentsAllowedToSub", id)
                }).catch(e =>{
                    error = true
                    alert(e.response.data.error)
            })
        } 
    }
};
</script>

<style scoped lang="scss">
$dark: #247a89;
@import 'bootstrap';

.form-check-input:checked {
  background-color: $dark;
  border-color: white;
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%2836, 122, 137, 0.25%29'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%2836, 122, 137, 0.75%29'/%3e%3c/svg%3e");
}

</style>
