<template>
  <ModalBlockUes/>
  <div class="container dataTable">
    <div class="row">
      <div class="col-sm-4">
        <div class="input-group search rounded">
          <input
              type="search"
              class="form-control rounded search-input"
              placeholder="Recherche"
              aria-label="Recherche"
              aria-describedby="search-addon"
              v-model="searchTerm"
          />
          <span class="input-group-text border-0">
          <i class="bi bi-search"></i>
        </span>
        </div>
      </div>
      <div class="col-sm-8">
        <teachingUnitsChoiceCampaign/>
      </div>
    </div>
    <div>
      <table-lite
          :messages = table.messages
          :is-static-mode="false"
          :is-loading="table.isLoading"
          :columns="table.columns"
          :rows="table.rows"
          :total="table.totalRecordCount"
          :sortable="table.sortable"
          @is-finished="listenerSetter"
          @change="listenerSetter"
      >
      </table-lite>
    </div>
  </div>
</template>

<script>
import {defineComponent, reactive, ref, computed} from "vue";
import TableLite from "vue3-table-lite/src/components/TableLite.vue";
import api_service from "@/Authenticating/api.service";
import ModalBlockUes from "@/components/bloc/student/ModalBlockUes";
import teachingUnitsChoiceCampaign from "@/components/ues/student/teachingUnitsChoiceCampaign";
import store from "@/store";

export default defineComponent({
  name: "dataTableTeachingUnit",
  components: {TableLite, ModalBlockUes, teachingUnitsChoiceCampaign},
  mounted() {
    this.init_data();
  },
  methods: {
    resetUserList() {
      this.data = reactive([])
      this.table.isLoading = true
    },
    listenerSetter(elements) {
      let vm = this
      Array.prototype.forEach.call(elements, function (element) {
        if (element.classList.contains("choice")) {
          element.addEventListener("click", async function () {
            await store.dispatch("student/selectedBlock", this.dataset.id)
          });
        }
      });
    }
  },
  setup() {
    // Search text
    const searchTerm = ref("");
    // DATA
    const data = reactive({
      data: []
    });

    // Table config
    const table = reactive({
      columns: [
        {
          label: "Status",
          field: "choiceMade",
          width: "5%",
          sortable: false,
          display(row) {
            return row.choiceMade ? '<i class="bi bi-check-circle-fill text-dark"></i>' : '<i class="bi bi-x-circle-fill text-danger"></i>'
          }
        },
        {
          label: "Nom",
          field: "name",
          width: "30%",
          sortable: true,
        },
        {
          label: "Nombre de choix",
          field: "nb_ues_choix",
          width: "20%",
          sortable: false,
        },
        {
          label: "Actions",
          field: "quick",
          width: "30%",
          sortable: false,
          display: function (row) {
            return (
                '<button type="button" data-id="' +
                row.id +
                '" class="is-rows-el btn btn-outline-secondary choice" data-bs-toggle="modal" data-bs-target="#ModalBlockChoiceUes">Choisir les Ues</button>'
            );
          },
        },
      ],
      rows: computed(() => {
        return data.data.filter((x) =>
            x.name.toLowerCase().includes(searchTerm.value.toLowerCase()));
      }),
      totalRecordCount: computed(() => {
        return table.rows.length;
      }),
      messages: {
        pagingInfo: "Affichage de {0}-{1} sur {2}",
        pageSizeChangeLabel: "Nombre de lignes:",
        gotoPageLabel: "Aller à la page:",
        noDataAvailable: "Pas de données",
      },
      sortable: {
        sort: "asc",
      },
      isLoading: true
    });
    const init_data = () => {
      table.isLoading = true
      data.data = []
      let ueInitialList = []
      //Récupération de la liste des choix effectuer pour cet étudiant
      //Je récupère les blocs auxquels cet étudiant est inscrit
      //Je récupère les ues de chaque bloc
      //Je regarde si un choix est renseigné pour chaque ue
      api_service.get("user/" + store.getters.getUserInfo.id + "/initial").then((response) => {
        ueInitialList = response.data.data
        api_service.get("parcours/" + store.getters.getUserInfo.parcours.id + "/blocs").then((response) => {
          let listOfBlock = response.data.data
          listOfBlock.forEach(block => {
            api_service.get("blocs/" + block.id + "/ues").then((response) => {
              let uesOfBlock = response.data.data
              let choiceMade = false
              uesOfBlock.forEach(ueB => {
                if (typeof ueInitialList.find(initial => initial.ue.id === ueB.id) !== "undefined") {
                  choiceMade = true
                }
              })
              block.choiceMade = choiceMade
              data.data.push(block)
            })
          })
        })
      })
      table.isLoading = false
    }
    return {
      searchTerm,
      table,
      data,
      init_data
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$dark: #247a89;
@import 'bootstrap';
::v-deep(.vtl-table .vtl-thead .vtl-thead-th) {
  color: $white;
  background-color: $dark;
  border-color: $dark;
}

::v-deep(.vtl-table td),
::v-deep(.vtl-table tr) {
  border: none;
}

::v-deep(.vtl-table td a) {
  margin-inline: 2%;
}

::v-deep(.vtl-paging-info) {
  color: $dark;
}

::v-deep(.vtl-paging-count-label),
::v-deep(.vtl-paging-page-label) {
  color: $dark;
}

::v-deep(.vtl-paging-pagination-page-link) {
  border: none;
}

.dataTable {
  padding-top: 5%;
}

.search {
  float: left;
  max-width: 300px;
  width: auto;
}

.action-group {
  float: right;
  width: auto;
}
</style>
