<template>
  <div
      class="modal fade"
      id="ModalBlockChoiceUes"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            {{ selectedBloc.name }}
          </h5>
          <button
              type="button"
              class="btn-close btn-close-block"
              data-bs-dismiss="modal"
              aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="error" v-if="error">
            <p>Veuillez renseigner les champs manquants</p>
          </div>
          <br>
          <fieldset class="container table-responsive">
            <table class="table table-dark">
              <thead>
              <tr>
                <th scope="col">Nom</th>
                <th scope="col"> Nombre de choix "1"</th>
                <th scope="col"> Ordre de choix</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="ue in uesToChoice" :key="ue.id">
                <th scope="row">{{ ue.full_name }}</th>
                <td> {{ ue.subUserLength?.length}}</td>
                <td>
                  <div class="row g-3 align-items-center">
                    <div class="mb-3">
                      <select :disabled="ue?.is_open!=='true'"
                          v-model="ue.chosenOrder"
                          class="form-select form-select-sm"
                      >
                        <option v-for="i in uesToChoice.length" :value="i">
                          {{ i }}
                        </option>
                      </select>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="alert" v-if="caps_lock_on">
              <p>Attention le verrouillage des majuscules est activé</p>
            </div>
            <div class="modal-footer">
              <button
                  type="button"
                  class="btn btn-light"
                  data-bs-dismiss="modal"
              >
                Annuler
              </button>
              <button
                  :disabled="uesToChoice.filter(ue => ue.is_open === 'true').length === 0"
                  type="button"
                  class="btn btn-light"
                  @click.prevent="valider"
              >
                Valider
              </button>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apiService from "@/Authenticating/api.service";
import {mapGetters} from "vuex";
import store from "@/store"

export default {
  name: "ModalBlockChoiceUes",
  data() {
    return {
      error: ""
    };
  },
  computed: {
    ...mapGetters({
      selectedBloc: 'student/selectedBlock',
      uesToChoice: 'student/uesToChoice',
      usersInitial: 'student/usersInitial'
    })
  },
  methods: {
    valider() {
      let error = false
      let message = null
      //vérifier s'il a bien indiqué un choix pour chaque ue affiché
      //vérifier qu'il n'y a pas de numéro de choix en doublon
      this.uesToChoice.forEach(ue => {
        if (typeof ue.chosenOrder === "undefined") {
          error = true
          message = "Un ordre est nécessaire pour chaque UE proposée !"
        }
      })
      if (!error) {
        const count = [];
        for (let index = 0; index < this.uesToChoice.length; index++) {
          const element = this.uesToChoice[index].chosenOrder;

          if (count[element]) {
            count[element] += 1;
          } else {
            count[element] = 1;
          }
        }
        count.forEach(choice => {
          if (choice !== 1) {
            error = true
            message = "Veuillez renseigner un ordre correct !"
          }
        })
      }
      if (error) {
        alert(message)
      } else {
        let vm = this
        let curentStudent = store.getters.getUserInfo
        let allSends = this.uesToChoice.length
        this.uesToChoice.forEach(async ue => {
         await apiService.update("ues/" + ue.id + "/users/initial/add/" + curentStudent.id, {
            ordre_choix: ue.chosenOrder
          }).then((response) =>  {
           allSends--;
           if(allSends === 0)
           {
             vm.$parent.init_data()
             document.getElementsByClassName('btn-close-block')[0].click();
           }
         })
              .catch(e => {
                alert(e.response.data.error)
              })
        })

      }
    }
  },

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

$dark: #247a89;
@import "bootstrap";

.modal {
  color: $white;
}

$table-color: $dark;


</style>
