<template>
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="text-center text-muted">© 2022 UPJV</p>
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item text-dark">
          <router-link class="nav-link px-2 text-muted" to="/"
          >Accueil
          </router-link
          >
        </li>
        <li class="nav-item">
          <router-link class="nav-link px-2 text-muted" to="/profil"
          >Profil
          </router-link
          >
        </li>
        <li class="nav-item"><a href="https://miage-amiens.fr/" class="nav-link px-2 text-muted">MIAGE</a></li>
      </ul>
    </footer>
  </div>
</template>

<script>

export default {
  name: "footer"
}
</script>