<template>
  <div
    class="modal fade"
    id="ModalUserChangePW"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            {{modalTitle}}
          </h5>
          <button
            type="button"
            class="btn-close btn-close-profil"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <fieldset class="container">
            <div class="error" v-for="error in errors" v-bind:key="error">
              <p>{{error}}</p>
            </div>
            <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="actual" class="form-label">Mot de passe actuel</label>
                <input
                  v-on:keyup="logOnEnter"
                  id="actual"
                  type="password"
                  v-model="old_password"
                  class="form-control current-prenom"
                />
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="mb-3">
                <label for="new" class="form-label">Nouveau mot de passe</label>
                <input
                  v-on:keyup="logOnEnter"
                  id="new"
                  type="password"
                  v-model="new_password"
                  class="form-control current-nom"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="confirm" class="form-label">Confirmer le nouveau mot de passe</label>
              <input
                type="password"
                id="confirm"
                v-model="confirm_password"
                class="form-control"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-light"
                data-bs-dismiss="modal"
              >
                Annuler
              </button>
              <button
                type="button"
                class="btn btn-light"
                @click.prevent="confirmPW"
              >
                Valider
              </button>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apiService from "@/Authenticating/api.service";
import store from "@/store";
import router from "@/router";

export default {
  name: "ModalUserChangePW",
  props : {
    modalTitle : String,
    modalFirstConnection : {
      type : Boolean,
      default : false
    }
  },
  data() {
    return {
      id: "",
      caps_lock_on: "",
      old_password: "",
      new_password: "",
      confirm_password : "",
      errors: [],
    };
  },
  methods: {
    logOnEnter(e) {
      this.caps_lock_on = e.getModifierState("CapsLock");
      if (e.keyCode === 13) {
        this.valider();
      }
    },
    confirmPW() {
      this.errors = []
      if((this.old_password!=null && this.old_password.length < 6)
        || (this.old_password==null)) {
        this.errors.push("Mot de passe actuel : Au moins 6 caractères")
      }
      if((this.new_password!=null && this.new_password.length < 6)
        || (this.new_password==null)) {
        this.errors.push("Nouveau mot de passe : Au moins 6 caractères")
      }
      if((this.confirm_password!=null && this.confirm_password.length < 6)
        || (this.confirm_password==null)) {
        this.errors.push("Mot de passe de confirmation: Au moins 6 caractères")
      }
      if(this.new_password !== this.confirm_password)
      {
        this.errors.push("Le nouveau mot de passe doit être le même que le mot de passe de confirmation")
      }
      if(this.errors.length == 0)
      {
        this.valider()
      }
    }
    ,
    valider() {
      let vm = this;
      apiService
        .update("user/change_password", {
          old_password : vm.old_password,
          password : vm.new_password,
          password_confirmation : vm.confirm_password
        })
        .then((response) => {
          if(!vm.modalFirstConnection){
            document.getElementsByClassName('btn-close-profil')[0].click();
          }else {
            document.getElementsByClassName('btn-close-profil')[0].click();
            router.push({name: "home"})
          }
        })
        .catch((e) => {
          vm.errors.push("Impossible d'accèder à l'API");
        });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$dark: #247a89;
@import "bootstrap";
.modal {
  color: $white;
}
.form-floating {
  color: black;
}
</style>
