<template>

  <div class="container d-flex flex-row bd-highlight mb-3">

      <div class="p-2 bd-highlight">
        <img src="../assets/master_miage.png" alt=""/>
      </div>
      <div class="ms-auto p-2 bd-highlight">
        <img
            class="img-upjv "
            src="../assets/upjv.png"
            alt=""
        />
      </div>
  </div>

  <nav v-if="Visible" class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container container-fluid">
      <router-link
          exact-active-class="active"
          class="navbar-brand"
          to="/"
      >MIAGE
      </router-link
      >
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
              aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <template v-if="UserInfo?.role === 'admin'">
            <li class="nav-item">
              <router-link
                  exact-active-class="active"
                  class="nav-link"
                  to="/administration"
              >Administration
              </router-link
              >
            </li>
            <li class="nav-item">
              <router-link
                  exact-active-class="active"
                  class="nav-link"
                  to="/parcours"
              >Parcours
              </router-link
              >
            </li>
            <li class="nav-item">
              <router-link
                  exact-active-class="active"
                  class="nav-link"
                  to="/bloc"
              >Blocs
              </router-link
              >
            </li>
            <li class="nav-item">
              <router-link
                  exact-active-class="active"
                  class="nav-link"
                  to="/choixUE"
              >Unités d'enseignement
              </router-link
              >
            </li>

          </template>
          <template v-if="UserInfo?.role === 'student'">
            <li class="nav-item">
              <router-link
                  exact-active-class="active"
                  class="nav-link"
                  to="/choixUE/student"
              >Choix des Unités d'enseignements
              </router-link
              >
            </li>
          </template>
        </ul>
        <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li v-if="UserInfo?.role !=null" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              {{ UserInfo.first_name + " " + UserInfo.last_name }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" v-on:click="profil">Profil</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" v-on:click="logout">Se Déconnecter</a></li>
            </ul>
          </li>
          <li v-else class="nav-item">
            <router-link
                exact-active-class="active"
                class="nav-link"
                to="/Login"
            >Se Connecter
            </router-link
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import Auth from "@/Authenticating/Auth";
import router from "@/router"
import store from "@/store"

export default {
  name: "Nav_bar",
  props: {
    Visible: {
      type: Boolean,
      default: true,
    },
    Loged: {
      type: Boolean,
      default: Auth.methods.checkIfLogged(),
    },
  },
  data() {
    return {}
  },
  computed: {
    UserInfo() {
      if (store.getters.getUserInfo !== null && store.getters.getUserInfo !== undefined) {
        return store.getters.getUserInfo
      } else {
        return null
      }
    }
  },
  methods: {
    logout() {
      Auth.methods.logout();
    },
    profil() {
      router.push("/profil")
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
$dark: #247a89;
@import "bootstrap";


.card {
  margin-top: 5%;
}

.nav-link {
  color: $white;
}

.nav-link:hover {
  color: $white;
}

.nav-link::selection {
  color: $white;
}

.img-upjv {
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 150px;
}

.input-group-text {
  background-color: $dark;
  color: $white;
}

.nav-link.dropdown-toggle.show {
  color: $white;
}
</style>
