<template>
  <div v-if="error.status === 'danger' " class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="bi bi-exclamation-triangle-fill">Attention :</i>
    <div>
      {{ " " + error?.message }}
    </div>
  </div>
  <div v-if="error?.status === 'warning'" class="alert alert-warning d-flex align-items-center" role="alert">
    <i class="bi bi-exclamation-triangle-fill">Attention :</i>
    <div>
      {{ " " + error?.message }}
    </div>
  </div>
  <div v-if="error?.status === 'success'" class="alert alert-success d-flex align-items-center" role="alert">
    <i class="bi bi-exclamation-triangle-fill">Succès :</i>
    <div>
      {{ " " + error?.message }}
    </div>
  </div>
</template>

<script>
export default {
  name: "alertBoostrap",
  props: {
    status : {
      default : "alert",
      type : String
    },
    error: {}
  }
}
</script>
