<template>
  <NavBar/>
  <DataTable/>
  <Footer/>
</template>

<script>
import NavBar from "@/components/Nav_bar.vue"
import DataTable from "@/components/user/DataTable.vue"
import Footer from "@/components/footer";

export default {
  name: 'Administration',
  components: {
    NavBar,
    DataTable,
    Footer
  }
}
</script>

