<template>
  <Navbar/>
  <DataTable/>
  <Footer/>
</template>

<script>
import Navbar from "@/components/Nav_bar.vue";
import DataTable from "@/components/bloc/DataTable.vue"
import Footer from "@/components/footer";

export default {
  name: "BlocView",
  components: {
    Navbar,
    DataTable,
    Footer
  },
};
</script>
