<template>
  <NavBar/>
  <DataTable/>
  <Footer/>
</template>

<script>
import NavBar from "@/components/Nav_bar.vue"
import DataTable from "@/components/parcours/DataTableParcours.vue"
import Footer from "@/components/footer";

export default {
  name: 'ParcoursView',
  components: {
    NavBar,
    DataTable,
    Footer
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
