<template>
  <div class="input-group alert alert-dismissible fade show" v-bind:class="'alert-'+type" role="alert">
    <strong>Campagne d'inscription en cours : </strong>
    {{ campaing !== null ? '\xa0 du ' + campaing.start_date + ' au ' + campaing.end_date : 'aucune campagne d\'active' }}
    <button type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"></button>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import store from "@/store";

export default {
  name: "teachingUnitsChoiceCampaign",
  data(){
    return {
      type : 'warning'
    }
  },
  watch:{
    campaing(newC , oldC){
      newC !== null ? this.type = 'success': this.type = 'warning'
    }
  },
  mounted() {
    store.dispatch('student/campaing')
  },
  computed: {
    ...mapGetters({
      campaing: 'student/campaing'
    })
  },
}
</script>

<style scoped lang="scss">
$success: #247a89;
@import 'bootstrap';

</style>