<template>
    <Navbar/>
    <DataTable />
    <Footer/>
</template>

<script>
import Navbar from "@/components/Nav_bar.vue"
import Footer from "@/components/footer";
import DataTable from "@/components/bloc/student/dataTableBlocs.vue"

export default {
  name: 'blocksStudent',
  components :{
      Navbar,
      DataTable,
      Footer
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "bootstrap";

.table {
    margin-top: 5%;
}
</style>


