<template>
  <fieldset class="container">
    <legend>Mot de passe oublié</legend>
    <div class="error" v-if="error">
      <p>Email invalide</p>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
          type="email"
          id="email"
          v-model="email"
          class="form-control"
          placeholder="azer@tyuiop.com"
      />
    </div>
    <div class="mb-3">
      <a @click.prevent="$emit('resetPassword', false)" href="#"> Se connecter</a>
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-light" id="login" @click.prevent="resetPassword">Valider</button>
    </div>
  </fieldset>
</template>

<script>
import ApiService from "@/Authenticating/api.service";

export default {
  name: "forgotPassword",
  data(){
    return {
      email : null,
      error : false
    }
  },
  methods: {
    resetPassword() {
      if(email!== null){
        ApiService.post("user/reset_password", {email: this.email})
            .then(() => {
              alert('password reset !')
              this.error = false
            }).catch((error) => {
            this.error = true
            alert(error.response.data.error)
        })
      }else {
        this.error = true
      }
    },
  }
}
</script>

<style scoped lang="scss">
fieldset {
  background-color: #247a89;
  color: white;
  margin-top: 5%;
  width: auto;
  max-width: 450px;
  padding: 3%;
  border-radius: 1rem;
}

a,
span {
  color: white;
}
</style>