<template>
  <ModalUserChangePW modal-title="Il s'emblerait que ce soit ta première connexion, Saisie ton nouveau mot de passe !"
                     :modal-first-connection="true"/>
  <fieldset class="container">
    <legend>Connexion</legend>
    <div class="error" v-if="error">
      <p>Mauvais identifiant/mot de passe.</p>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
          type="email"
          id="email"
          v-model="email"
          class="form-control"
          placeholder="azer@tyuiop.com"
      />
    </div>
    <div class="row g-3 align-items-center">
      <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input
            v-on:keyup="logOnEnter"
            type="password"
            id="password"
            v-model="password"
            class="form-control current-password"
        />
      </div>
    </div>
    <div class="alert" v-if="caps_lock_on">
      <p>Attention le verrouillage des majuscules est activé</p>
    </div>
    <div class="form-check">
      <input
          class="form-check-input keep"
          type="checkbox"
          :checked="check"
          id="keep"
      />
      <label class="form-check-label">
        Se souvenir de moi
      </label>
    </div>
    <div class="mb-3">
      <a @click.prevent="$emit('resetPassword', true)" href="#"> Mot de passe oublié</a>
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-light" id="login" @click.prevent="login">Valider</button>
    </div>
  </fieldset>
</template>

<script>
import Auth from "@/Authenticating/Auth";
import store from "@/store";
import {Modal} from "bootstrap";
import router from "@/router";
import ModalUserChangePW from "@/components/ModalUserChangePW";

export default {
  name: "login",
  components: {ModalUserChangePW},
  data() {
    return {
      email: null,
      password: null,
      error: false,
      check: false,
      caps_lock_on: false,
      loged: false,
    };
  },
  mounted() {
    this.email = window.localStorage.getItem('email')
    this.check = true
    if (this.email === 'null' || this.email === undefined) {
      this.email = ''
      this.check = false
    }
    this.loged = Auth.methods.checkIfLogged();
  }
  ,
  methods: {
    logOnEnter(e) {
      this.caps_lock_on = e.getModifierState("CapsLock");
      if (e.keyCode === 13) {
        this.login();
      }
    },
    async login() {
      let This = this
      let body = {
        email: this.email,
        password: this.password,
      }
      await Auth.methods.login(body).then(async () => {
        let doc = document.getElementById("keep")
        if (doc.checked) {
          window.localStorage.setItem('email', this.email)
        } else {
          window.localStorage.setItem('email', null)
        }
        await store.dispatch("initUserInfo")
        if (store.getters["getUserInfo"] !== null) {
          if (store.getters["getUserInfo"]?.first_connection === 1) {
            try {
              let myModal = new Modal(document.getElementById("ModalUserChangePW"), {});
              myModal.show();
            } catch (e) {
              alert("Veuillez changer votre mot de passe, dans votre profil")
              await router.push({name: "home"})
            }
          } else {
            await router.push({name: "home"})
          }
        }
        //Si userInfo.firstConnection === true
        //Affichage d'un modal pour changer de mot de passe
        //Changer le mot de passe et bouger dans le home :D
      }).catch((e) => {
        console.log(e)
        This.error = true
      })
    },
  },
}
</script>

<style scoped lang="scss">
fieldset {
  background-color: #247a89;
  color: white;
  margin-top: 5%;
  width: auto;
  max-width: 450px;
  padding: 3%;
  border-radius: 1rem;
}

a,
span {
  color: white;
}
</style>